In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mi\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mi\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mi\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd

In [47]:
import numpy as np

In [1481]:
hotels = pd.read_excel('hotels.xlsx')

In [203]:
guests = pd.read_excel('guests.xlsx')

In [33]:
preferences = pd.read_excel('preferences.xlsx')

In [1483]:
hotels = hotels.iloc[:, 1:]

In [37]:
guests = guests.iloc[:, 1:]

In [43]:
preferences = preferences.iloc[:, 1:]

In [209]:
guests.rename(columns={'Unnamed: 0': 'index'}, inplace=True)

In [1485]:
hotels

         hotel  rooms  price
0      hotel_1     13    273
1      hotel_2     18     92
2      hotel_3     12    141
3      hotel_4     18    157
4      hotel_5      7    298
..         ...    ...    ...
395  hotel_396      5    212
396  hotel_397     12     68
397  hotel_398     14    102
398  hotel_399     16    284
399  hotel_400     14    145

[400 rows x 3 columns]

In [347]:
hotels[hotels['rooms'] == 0] #just in case

Empty DataFrame
Columns: [hotel, rooms, price]
Index: []

In [55]:
hotels.head()

     hotel  rooms  price
0  hotel_1     13    273
1  hotel_2     18     92
2  hotel_3     12    141
3  hotel_4     18    157
4  hotel_5      7    298

In [165]:
hotels_new = pd.DataFrame(columns = ['room_number', 'hotel_number'])

In [175]:
hotels[hotels['hotel'] == 'hotel_2']['rooms'].values[0]

18

In [177]:
hotels_new = pd.DataFrame(columns = ['room_number', 'hotel_number'])
for i in hotels['hotel']:
    room_numbers = hotels[hotels['hotel'] == i]['rooms'].values[0]
    a = 0
    for j in range(room_numbers):
        a +=1 
        hotels_new.loc[len(hotels_new)] = [a, i]
    hotels_new

In [213]:
hotels_new = pd.DataFrame(columns = ['room_number', 'hotel_number', 'price'])
for i in hotels['hotel']:
    room_numbers = hotels[hotels['hotel'] == i]['rooms'].values[0]
    price = hotels[hotels['hotel'] == i]['price'].values[0]
    a = 0
    for j in range(room_numbers):
        a +=1 
        hotels_new.loc[len(hotels_new)] = [a, i, price]
    hotels_new

In [215]:
random_numbers = np.random.permutation(len(hotels_new))

In [217]:
hotels_new['random_number'] = random_numbers

In [219]:
hotels_new2 = hotels_new[hotels_new['random_number'] <= 3999]

In [223]:
hotels_new2

      room_number hotel_number  price  random_number
0               1      hotel_1    273            679
2               3      hotel_1    273           1514
3               4      hotel_1    273           1057
4               5      hotel_1    273           2541
6               7      hotel_1    273            161
...           ...          ...    ...            ...
4612           10    hotel_400    145           1100
4613           11    hotel_400    145           1006
4614           12    hotel_400    145            241
4615           13    hotel_400    145           1298
4616           14    hotel_400    145            958

[4000 rows x 4 columns]

In [231]:
guests.dtypes

index         int64
guest        object
discount    float64
dtype: object

In [233]:
hotels_new2.dtypes

room_number       int64
hotel_number     object
price             int64
random_number     int32
dtype: object

In [255]:
merged_distribution.dtypes

room_number        int64
hotel_number      object
price              int64
random_number      int32
index              int64
guest             object
discount         float64
dtype: object

In [239]:
merged_distribution = pd.merge(hotels_new2, guests, left_on = 'random_number', right_on = 'index', how = 'left')

In [259]:
result_distribution = merged_distribution[['index', 'hotel_number', 'room_number', 'price', 'guest', 'discount']]

In [263]:
result_distribution['price_final'] = result_distribution['price'] * (1 - result_distribution['discount'])

In [269]:
result_distribution_group = result_distribution.pivot_table(values='price_final', index='hotel_number', aggfunc='sum')

In [289]:
hotels_new_price_order = hotels_new.sort_values(by='price', ascending=False)

In [293]:
hotels_new_price_order = hotels_new_price_order.head(4000)

In [299]:
random_numbers2 = np.random.permutation(len(hotels_new_price_order))

In [301]:
hotels_new_price_order['random_number'] = random_numbers2

C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1549147738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotels_new_price_order['random_number'] = random_numbers2

In [313]:
merged_distribution_order = pd.merge(hotels_new_price_order, guests, left_on = 'random_number', right_on = 'index', how = 'left')

In [315]:
result_distribution_order = merged_distribution_order[['index', 'hotel_number', 'room_number', 'price', 'guest', 'discount']]

In [317]:
result_distribution_order['price_final'] = result_distribution_order['price'] * (1 - result_distribution_order['discount'])

In [319]:
result_distribution_order_group = result_distribution_order.pivot_table(values='price_final', index='hotel_number', aggfunc='sum')

In [283]:
result_distribution_group

              price_final
hotel_number
hotel_1           2492.49
hotel_10          1860.36
hotel_100         2140.80
hotel_101         1865.98
hotel_102          963.60
...                   ...
hotel_95          1306.78
hotel_96          2088.32
hotel_97          4150.08
hotel_98          2229.09
hotel_99           794.75

[400 rows x 1 columns]

In [321]:
result_distribution_order_group

              price_final
hotel_number
hotel_1           3221.40
hotel_10          2013.54
hotel_100         2747.20
hotel_101         2166.18
hotel_103         1725.56
...                   ...
hotel_95          1251.11
hotel_96          2263.04
hotel_97          4193.28
hotel_98          2546.67
hotel_99          1002.32

[350 rows x 1 columns]

In [325]:
sum(result_distribution_group['price_final'])

641419.7

In [327]:
sum(result_distribution_order_group['price_final'])

703769.93

In [410]:
result_distribution

,index,hotel_number,room_number,price,guest,discount,price_final
0,679,hotel_1,1,273,guest_680,0.00,273.00
1,1514,hotel_1,3,273,guest_1515,0.07,253.89
2,1057,hotel_1,4,273,guest_1058,0.19,221.13
3,2541,hotel_1,5,273,guest_2542,0.09,248.43
4,161,hotel_1,7,273,guest_162,0.10,245.70
...,...,...,...,...,...,...,...
3995,1100,hotel_400,10,145,guest_1101,0.12,127.60
3996,1006,hotel_400,11,145,guest_1007,0.10,130.50
3997,241,hotel_400,12,145,guest_242,0.11,129.05
3998,1298,hotel_400,13,145,guest_1299,0.13,126.15
3999,958,hotel_400,14,145,guest_959,0.12,127.60

Part 2

In [356]:
start_df = preferences[preferences['priority'] == 1]

In [482]:
start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\3157429541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

In [488]:
df_hotels = pd.merge(start_df, hotels, on = 'hotel', how = 'left')

In [492]:
df_full = pd.merge(df_hotels, guests, on = 'guest', how = 'left')

In [506]:
guests_first_priority = df_full[df_full['rn'] <= df_full['rooms']]

In [629]:
guests_second_priority = df_full[df_full['rn'] > df_full['rooms']]

In [ ]:
guests_first_priority[guests_first_priority['hotel'] == 'hotel_1'] #just check everything is alright

In [562]:
hotels_rest = guests_first_priority.pivot_table(values= ['guest', 'rooms'], index='hotel', aggfunc={'guest':'count', 'rooms':'mean'})

In [570]:
hotels_rest['rooms'] = hotels_rest['rooms'].astype(int) #можно не делать в принципе

In [578]:
hotels_rest['rest'] = hotels_rest['rooms'] - hotels_rest['guest']

Снова идем по вторым приоритетам для оставшихся 602 гостей с учетом заселенных номеров

In [631]:
guests_second_priority = pd.merge(guests_second_priority, preferences.query('priority == 2'), on = 'guest', how = 'left')

In [633]:
guests_second_priority = pd.merge(guests_second_priority, hotels_rest, left_on = 'hotel_y', right_on = 'hotel', how = 'left')

In [637]:
guests_second_priority['rn_2'] = guests_second_priority.groupby('hotel_y').cumcount() + 1

In [639]:
guests_third_priority = guests_second_priority[guests_second_priority['rn_2'] > guests_second_priority['rest']] #осталось расселить еще 281 гостя

In [641]:
guests_second_priority = guests_second_priority[guests_second_priority['rn_2'] <= guests_second_priority['rest']] #расселены еще 308 гостей

Делаем цикл, потому что непонятно сколько еще таких шагов предстоит пройти

In [762]:
list_priorities = preferences['priority'].unique().tolist()

In [904]:
checked_in_guests = pd.DataFrame()
hotels_rest = hotels
not_checked_in_guests = guests

In [906]:
start_df = preferences[(preferences['priority'] == 1) & preferences['guest'].isin(not_checked_in_guests['guest']) ]
start_df

            guest      hotel  priority
0         guest_1  hotel_168         1
18        guest_2  hotel_369         1
60        guest_3  hotel_157         1
86        guest_4  hotel_235         1
132       guest_5  hotel_121         1
...           ...        ...       ...
99380  guest_3996  hotel_350         1
99424  guest_3997   hotel_19         1
99452  guest_3998  hotel_160         1
99489  guest_3999  hotel_277         1
99501  guest_4000  hotel_275         1

[4000 rows x 3 columns]

In [908]:
start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
start_df

C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\3362773801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

            guest      hotel  priority  rn
0         guest_1  hotel_168         1   1
18        guest_2  hotel_369         1   1
60        guest_3  hotel_157         1   1
86        guest_4  hotel_235         1   1
132       guest_5  hotel_121         1   1
...           ...        ...       ...  ..
99380  guest_3996  hotel_350         1  10
99424  guest_3997   hotel_19         1   4
99452  guest_3998  hotel_160         1  14
99489  guest_3999  hotel_277         1  15
99501  guest_4000  hotel_275         1  14

[4000 rows x 4 columns]

In [910]:
df_hotels = pd.merge(start_df, hotels_rest, on = 'hotel', how = 'left')
df_hotels

           guest      hotel  priority  rn  rooms  price
0        guest_1  hotel_168         1   1     13    298
1        guest_2  hotel_369         1   1      6    133
2        guest_3  hotel_157         1   1      6     65
3        guest_4  hotel_235         1   1      5    136
4        guest_5  hotel_121         1   1     15     56
...          ...        ...       ...  ..    ...    ...
3995  guest_3996  hotel_350         1  10     12     56
3996  guest_3997   hotel_19         1   4     10    113
3997  guest_3998  hotel_160         1  14     11     68
3998  guest_3999  hotel_277         1  15     18    281
3999  guest_4000  hotel_275         1  14     11    159

[4000 rows x 6 columns]

In [912]:
checked_in_guests = pd.concat([checked_in_guests, df_hotels[df_hotels['rn'] <= df_hotels['rooms']]], ignore_index=True)
checked_in_guests

           guest      hotel  priority  rn  rooms  price
0        guest_1  hotel_168         1   1     13    298
1        guest_2  hotel_369         1   1      6    133
2        guest_3  hotel_157         1   1      6     65
3        guest_4  hotel_235         1   1      5    136
4        guest_5  hotel_121         1   1     15     56
...          ...        ...       ...  ..    ...    ...
3393  guest_3993  hotel_359         1   8     14    163
3394  guest_3994   hotel_58         1  10     15    120
3395  guest_3996  hotel_350         1  10     12     56
3396  guest_3997   hotel_19         1   4     10    113
3397  guest_3999  hotel_277         1  15     18    281

[3398 rows x 6 columns]

In [914]:
checked_in_guests[checked_in_guests['rn'] == 18]

           guest      hotel  priority  rn  rooms  price
3326  guest_3885  hotel_394         1  18     19    291

In [916]:
checked_in_guests[checked_in_guests['hotel'] == 'hotel_394']

           guest      hotel  priority  rn  rooms  price
142    guest_143  hotel_394         1   1     19    291
226    guest_227  hotel_394         1   2     19    291
335    guest_336  hotel_394         1   3     19    291
483    guest_484  hotel_394         1   4     19    291
585    guest_588  hotel_394         1   5     19    291
623    guest_626  hotel_394         1   6     19    291
764    guest_767  hotel_394         1   7     19    291
1030  guest_1036  hotel_394         1   8     19    291
1237  guest_1250  hotel_394         1   9     19    291
1896  guest_1950  hotel_394         1  10     19    291
2103  guest_2188  hotel_394         1  11     19    291
2250  guest_2365  hotel_394         1  12     19    291
2559  guest_2740  hotel_394         1  13     19    291
2640  guest_2846  hotel_394         1  14     19    291
2746  guest_2991  hotel_394         1  15     19    291
3137  guest_3591  hotel_394         1  16     19    291
3282  guest_3811  hotel_394         1  17     19    291
3326  guest_3885  hotel_394         1  18     19    291

In [918]:
hotels_rest = checked_in_guests.pivot_table(values= ['guest', 'rooms', 'price'], index='hotel', aggfunc={'guest':'count', 'rooms':'mean', 'price':'mean'})

In [920]:
hotels_rest = hotels_rest.reset_index()

In [932]:
hotels_rest[hotels_rest['hotel'] == 'hotel_394']

         hotel  guests  price  rooms  rest
327  hotel_394      19  291.0   19.0   0.0

In [926]:
hotels_rest['rest'] = hotels_rest['rooms'] - hotels_rest['guest']

In [856]:
hotels_rest = hotels_rest.rename(columns={'guest': 'guests'})

In [996]:
checked_in_guests[checked_in_guests['rn'] == 2]

           guest      hotel  priority  rn  rooms  price  rest  guests
10      guest_11  hotel_157         1   2    6.0   65.0   6.0       0
17      guest_18  hotel_215         1   2    9.0  133.0   9.0       0
38      guest_39  hotel_121         1   2   15.0   56.0  15.0       0
84      guest_85  hotel_266         1   2   18.0  169.0  18.0       0
85      guest_86  hotel_277         1   2   18.0  281.0  18.0       0
...          ...        ...       ...  ..    ...    ...   ...     ...
3883  guest_3833  hotel_122         4   2   19.0  167.0  11.0       8
3885  guest_3879  hotel_339         4   2   10.0   74.0   2.0       8
3887  guest_3932   hotel_46         4   2   17.0  214.0   6.0      11
3894  guest_1951  hotel_237         5   2   17.0  249.0   5.0      12
3926  guest_2373  hotel_392         6   2   18.0  210.0   5.0      13

[521 rows x 8 columns]

In [990]:
checked_in_guests = pd.DataFrame()
hotels_rest = hotels
hotels_rest['rest'] = hotels['rooms']
hotels_rest['guests'] = 0
not_checked_in_guests = guests
while not not_checked_in_guests.empty:
    for priority in list_priorities:
        start_df = preferences[(preferences['priority'] == priority) & preferences['guest'].isin(not_checked_in_guests['guest']) ]
        start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
        df_hotels = pd.merge(start_df, hotels_rest, on = 'hotel', how = 'left')
        checked_in_guests = pd.concat([checked_in_guests, df_hotels[df_hotels['rn'] <= df_hotels['rest']]], ignore_index=True)
        not_checked_in_guests = df_hotels[df_hotels['rn'] > df_hotels['rest']]
        
        hotels_rest = checked_in_guests.pivot_table(values= ['guest', 'rooms', 'price'], index='hotel', aggfunc={'guest':'count', 'rooms':'mean', 'price':'mean'})
        hotels_rest = hotels_rest.rename(columns={'guest': 'guests'})
        hotels_rest['rest'] = hotels_rest['rooms'] - hotels_rest['guests']
        hotels_rest = hotels_rest.reset_index()
        print(priority, len(checked_in_guests))

C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

1 3398
2 3706
3 3828
4 3890
5 3924
6 3941
7 3952
8 3959
9 3964
10 3966

C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

11 3967
12 3971
13 3971
14 3971
15 3972
16 3972
17 3972
18 3972
19 3972
20 3972
21 3972
22 3972
23 3972
24 3972
25 3972
26 3972
27 3972
28 3972
29 3972
30 3972
31 3972
32 3972
33 3972
34 3972
35 3972
36 3972
37 3972
38 3972
39 3972
40 3972
41 3972
42 3972
43 3972
44 3972
45 3972
46 3972
47 3972
48 3972
49 3972

In [1000]:
check_df = preferences[~preferences['guest'].isin(checked_in_guests['guest'])] #these guests will be distributed according to the cheapest hotels

In [1032]:
guests_leftovers = check_df['guest'].unique().tolist()

In [1088]:
x = len(guests_leftovers)

28

In [1131]:
hotels_for_leftovers = hotels_rest[hotels_rest['rest'] > 0].sort_values('price') #additional marketing step to let leftovers check in in the cheapest hotels

         hotel  guests  price  rooms  rest
344   hotel_49      12   50.0   19.0   7.0
247  hotel_321       8   54.0   15.0   7.0
295  hotel_365      13   54.0   14.0   1.0
145   hotel_23      10   54.0   15.0   5.0
75   hotel_167       8   55.0    9.0   1.0
..         ...     ...    ...    ...   ...
162  hotel_245      11  290.0   17.0   6.0
138  hotel_223      10  291.0   17.0   7.0
269  hotel_341      11  298.0   12.0   1.0
94   hotel_184       7  298.0    8.0   1.0
76   hotel_168      12  298.0   13.0   1.0

[146 rows x 5 columns]

In [1076]:
rooms_leftovers = pd.merge(hotels_new, hotels_for_leftovers, left_on = 'hotel_number', right_on = 'hotel', how = 'inner')

In [1080]:
rooms_leftovers = rooms_leftovers[rooms_leftovers['room_number'] > rooms_leftovers['guests']]

In [1112]:
rooms_leftovers = rooms_leftovers.sort_values('price_x')[:x]

In [1118]:
rooms_leftovers['guest'] = guests_leftovers

In [1142]:
rooms_leftovers['priority'] = 0

In [1166]:
rooms_leftovers = rooms_leftovers.rename(columns={'price_y': 'price'})

In [1148]:
checked_in_guests = checked_in_guests[['guest', 'hotel', 'priority', 'price', 'rooms']]

In [1150]:
rooms_leftovers = rooms_leftovers[['guest', 'hotel', 'priority', 'price', 'rooms']]

In [1168]:
final_guests = pd.concat([checked_in_guests, rooms_leftovers], ignore_index=True)

In [1174]:
final_guests = pd.merge(final_guests, guests, on = 'guest', how = 'left')

In [1180]:
final_guests['price_final'] = final_guests['price'] * (1 - final_guests['discount'])

In [1182]:
result_distribution_group_part2 = final_guests.pivot_table(values='price_final', index='hotel', aggfunc='sum')

In [1184]:
result_distribution_group_part2

           price_final
hotel
hotel_1        3158.61
hotel_10       2062.38
hotel_100      1704.00
hotel_101      2164.60
hotel_102      1015.43
...                ...
hotel_95       1350.73
hotel_96       2281.76
hotel_97       4129.92
hotel_98       1646.19
hotel_99       1011.67

[400 rows x 1 columns]

In [1186]:
sum(result_distribution_group_part2['price_final'])

644159.43

Part 3

In [ ]:
1. Заселяем сначала все самые дешевые отели - сортируем таблицу с комнатами hotels_new по цене
2. Для каждого отеля по порядку: получить список гостей исходя из порядка и приоритета

создать датасет для каждого отеля - временный 
создать совокупный датасет

для каждого отеля отобрать только тех гостей, у которых он встречается в приоритетах
hotel - guest - priority - *rn

отсортировать по приоритету, затем по гостю 
пронумеровать и оставить только тех, кто меньше количества комнат 

также сделать датасеты с заселенными и незаселенными гостями, чтобы в новой итерации обращаться к измененному списку гостей 
то есть датасет с гостями будет меняться

In [1461]:
priorities = []
for i in range(1, max(preferences['priority']) + 1):
    priorities.append(i)

In [1207]:
hotels_new = hotels_new.sort_values(by = ['price', 'hotel_number', 'room_number'])

In [1487]:
hotels = hotels.sort_values('price')

In [ ]:
hotels_draft = hotels.copy()
df_draft = pd.DataFrame()
dict_hotels = hotels_draft.groupby('price')['hotel'].apply(list).to_dict()
checked_in_full = pd.DataFrame(columns = ['guest'])
for key in dict_hotels:
    for hotel in dict_hotels[key]:
        df_draft_0 = preferences[(preferences['hotel'] == hotel) & ~preferences['guest'].isin(checked_in_full['guest'])] #исключаем тех, кого заселили
        df_draft = pd.concat([df_draft, df_draft_0], ignore_index=True)
    for priority in priorities:
        df_priority = df_draft[(df_draft['priority'] == priority) & ~df_draft['guest'].isin(checked_in_full['guest'])] #исключить тех, кого заселили
        for hotel in dict_hotels[key]:
            checked_in_guests = df_priority[df_priority['hotel'] == hotel]
            free_rooms = hotels_draft[hotels_draft['hotel'] == hotel]['rooms'].values[0]
            checked_in_guests = checked_in_guests[:free_rooms]
            checked_in_full = pd.concat([checked_in_full, checked_in_guests], ignore_index=True)
            hotels_draft.loc[hotels_draft['hotel'] == hotel, 'rooms'] -= len(checked_in_guests)
    print(key, dict_hotels[key], len(checked_in_full), 'done')       
    df_draft = pd.DataFrame()

In [1521]:
#check
check = checked_in_full.pivot_table(values= ['guest'], index='hotel', aggfunc={'guest':'count'})
check = check.reset_index()
check = pd.merge(check, hotels, on = 'hotel', how = 'left')
len(check[check['guest'] != check['rooms']]) #53 hotels are not full - too expensive

53

In [1527]:
checked_in_full[checked_in_full['hotel'] == 'hotel_15']

          guest     hotel  priority
153    guest_66  hotel_15       1.0
154   guest_384  hotel_15       1.0
155   guest_471  hotel_15       1.0
156   guest_801  hotel_15       1.0
157  guest_1187  hotel_15       1.0

In [1567]:
leftovers_expensive = preferences[~preferences['guest'].isin(checked_in_full['guest'])]['guest'].unique() #3990 - 10 guests without hotel - why?

In [1573]:
len(leftovers_expensive)

10

In [ ]:
#Check 10 guests and check in them in expensive hotels

In [1591]:
df_for_leftovers_expensive = pd.merge(hotels_new, check[check['guest'] != check['rooms']], left_on = 'hotel_number', right_on = 'hotel', how = 'inner')

In [1593]:
df_for_leftovers_expensive = df_for_leftovers_expensive[df_for_leftovers_expensive['room_number'] <= df_for_leftovers_expensive['guest']]

In [1595]:
df_for_leftovers_expensive = df_for_leftovers_expensive.sort_values('price_y')

In [1597]:
df_for_leftovers_expensive = df_for_leftovers_expensive[:len(leftovers_expensive)]

In [1599]:
df_for_leftovers_expensive['leftovers'] = leftovers_expensive

In [1605]:
df_for_leftovers_expensive = df_for_leftovers_expensive[['leftovers', 'hotel']]

In [1609]:
df_for_leftovers_expensive['priority'] = 0

C:\Users\Mi\AppData\Local\Temp\ipykernel_18604\968085590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_for_leftovers_expensive['priority'] = 0

In [1623]:
df_for_leftovers_expensive = df_for_leftovers_expensive.rename(columns={'leftovers': 'guest'})

In [1625]:
checked_in_full_final = pd.concat([checked_in_full, df_for_leftovers_expensive])

In [1630]:
checked_in_full_final = pd.merge(checked_in_full_final, guests, on = 'guest', how = 'left')

In [1632]:
checked_in_full_final = pd.merge(checked_in_full_final, hotels, on = 'hotel', how = 'left')

In [1636]:
checked_in_full_final['price_final'] = checked_in_full_final['price'] * (1 - checked_in_full_final['discount'])

In [1638]:
checked_in_group_part3 = checked_in_full_final.pivot_table(values='price_final', index='hotel', aggfunc='sum')

In [1640]:
checked_in_group_part3

           price_final
hotel
hotel_1        1231.23
hotel_10       2026.86
hotel_100      2734.40
hotel_101      2136.16
hotel_102      1015.43
...                ...
hotel_95        237.33
hotel_96       2340.00
hotel_97        757.44
hotel_98       2526.57
hotel_99        994.84

[383 rows x 1 columns]

In [1642]:
sum(checked_in_group_part3['price_final'])

581017.41

Part 4

In [ ]:
#sorted by availability starting with the most roomy hotel

In [1461]:
priorities = []
for i in range(1, max(preferences['priority']) + 1):
    priorities.append(i)

In [1658]:
hotels = hotels.sort_values('rooms', ascending=False)

In [1666]:
hotels_draft = hotels.copy()
df_draft = pd.DataFrame()
dict_hotels = hotels_draft.groupby('rooms')['hotel'].apply(list).to_dict()
checked_in_full = pd.DataFrame(columns = ['guest'])
for key in dict_hotels:
    for hotel in dict_hotels[key]:
        df_draft_0 = preferences[(preferences['hotel'] == hotel) & ~preferences['guest'].isin(checked_in_full['guest'])] #исключаем тех, кого заселили
        df_draft = pd.concat([df_draft, df_draft_0], ignore_index=True)
    for priority in priorities:
        df_priority = df_draft[(df_draft['priority'] == priority) & ~df_draft['guest'].isin(checked_in_full['guest'])] #исключить тех, кого заселили
        for hotel in dict_hotels[key]:
            checked_in_guests = df_priority[df_priority['hotel'] == hotel]
            free_rooms = hotels_draft[hotels_draft['hotel'] == hotel]['rooms'].values[0]
            checked_in_guests = checked_in_guests[:free_rooms]
            checked_in_full = pd.concat([checked_in_full, checked_in_guests], ignore_index=True)
            hotels_draft.loc[hotels_draft['hotel'] == hotel, 'rooms'] -= len(checked_in_guests)
    print(key, dict_hotels[key], len(checked_in_full), 'done')       
    df_draft = pd.DataFrame()

5 ['hotel_87', 'hotel_37', 'hotel_95', 'hotel_15', 'hotel_302', 'hotel_324', 'hotel_85', 'hotel_289', 'hotel_164', 'hotel_244', 'hotel_136', 'hotel_267', 'hotel_307', 'hotel_171', 'hotel_179', 'hotel_357', 'hotel_79', 'hotel_386', 'hotel_235', 'hotel_108', 'hotel_329', 'hotel_64', 'hotel_158', 'hotel_212', 'hotel_119', 'hotel_269', 'hotel_351', 'hotel_258', 'hotel_163', 'hotel_396', 'hotel_291', 'hotel_30', 'hotel_330', 'hotel_358', 'hotel_65', 'hotel_9', 'hotel_188', 'hotel_198', 'hotel_219', 'hotel_131', 'hotel_40'] 205 done
6 ['hotel_62', 'hotel_123', 'hotel_141', 'hotel_292', 'hotel_369', 'hotel_225', 'hotel_391', 'hotel_348', 'hotel_14', 'hotel_382', 'hotel_335', 'hotel_377', 'hotel_216', 'hotel_36', 'hotel_72', 'hotel_157', 'hotel_349', 'hotel_301', 'hotel_55', 'hotel_113', 'hotel_66', 'hotel_51', 'hotel_33', 'hotel_99', 'hotel_107', 'hotel_221', 'hotel_340', 'hotel_210', 'hotel_204', 'hotel_271', 'hotel_203'] 391 done

KeyboardInterrupt:

In [1521]:
#check
check = checked_in_full.pivot_table(values= ['guest'], index='hotel', aggfunc={'guest':'count'})
check = check.reset_index()
check = pd.merge(check, hotels, on = 'hotel', how = 'left')
len(check[check['guest'] != check['rooms']]) #53 hotels are not full - too expensive

53

In [1537]:
hotels_new[hotels_new['hotel_number'] == 'hotel_1']

    room_number hotel_number  price  random_number
0             1      hotel_1    273            679
1             2      hotel_1    273           4569
2             3      hotel_1    273           1514
3             4      hotel_1    273           1057
4             5      hotel_1    273           2541
5             6      hotel_1    273           4318
6             7      hotel_1    273            161
7             8      hotel_1    273           2707
8             9      hotel_1    273           3039
9            10      hotel_1    273           4350
10           11      hotel_1    273           2932
11           12      hotel_1    273            846
12           13      hotel_1    273           1188

In [1519]:
check[check['guest'] != check['rooms']]

         hotel  guest  rooms  price
0      hotel_1      5     13    273
8    hotel_106      1     11    297
19   hotel_117      2     15    282
27   hotel_124      7     10    255
42   hotel_139      2      8    289
51   hotel_147     13     16    251
80   hotel_178      5      8    258
82    hotel_18      1      8    287
87   hotel_185      5      9    273
94   hotel_191     16     17    250
106  hotel_201      3      7    268
107  hotel_202      1     10    288
123  hotel_217      2     13    292
130  hotel_223      1     17    291
132  hotel_225      3      6    263
139  hotel_233      1     12    278
145  hotel_239      3     10    275
157  hotel_250      1     14    298
160  hotel_253      5      7    273
171  hotel_263      6     15    260
173  hotel_265      4     14    265
178   hotel_27      2     10    299
179  hotel_270      2     10    273
186  hotel_277      4     18    281
187  hotel_278      1     18    279
199  hotel_289      1      5    295
208  hotel_297      9     10    261
214  hotel_302      1      5    293
220  hotel_308      3     17    269
225  hotel_312      3     15    286
227  hotel_314      3     16    277
232  hotel_319      1     13    278
238  hotel_324      3      5    289
247  hotel_332      2     15    278
268  hotel_352      2      8    276
284  hotel_367      4     11    271
291  hotel_373      7     16    261
293  hotel_375      4      8    268
297  hotel_379      6      8    263
299  hotel_380      1     17    290
300  hotel_381      1     15    276
308   hotel_39      4     18    274
313  hotel_394      3     19    291
318  hotel_399      1     16    284
322   hotel_41      2     11    282
324   hotel_43      4      7    273
329   hotel_48      6     11    263
355   hotel_73      9     11    259
356   hotel_74      2     10    278
368   hotel_85      1      5    293
370   hotel_87      4      5    266
378   hotel_95      1      5    293
380   hotel_97      3     16    288

In [1511]:
check2 = checked_in_full.pivot_table( index='guest',  aggfunc={'guest':'count'})

In [1513]:
check2[check2['guest'] == 1] #3990 so cool!

            guest
guest
guest_1         1
guest_10        1
guest_100       1
guest_1000      1
guest_1001      1
...           ...
guest_995       1
guest_996       1
guest_997       1
guest_998       1
guest_999       1

[3990 rows x 1 columns]

In [1449]:
len(checked_in_full[checked_in_full['priority'] == 1]) #18

4599

In [1317]:
think_tank = ['hotel_190', 'hotel_49']
df_for_hotel = pd.DataFrame()
df_merged = pd.DataFrame()
not_checked_in_guests = preferences
for hotel in think_tank:
    df_for_hotel = not_checked_in_guests[not_checked_in_guests['hotel'] == hotel]
    df_for_hotel = df_for_hotel.sort_values(by = ['priority']).sort_index(ascending=True)
    df_for_hotel.to_excel(f'output_{hotel}.xlsx', index=False)

In [1313]:
hotels[:50]

         hotel  rooms  price
189  hotel_190     10     50
48    hotel_49     19     50
353  hotel_354     12     52
300  hotel_301      6     52
23    hotel_24      9     53
364  hotel_365     14     54
320  hotel_321     15     54
22    hotel_23     15     54
46    hotel_47     15     54
25    hotel_26     19     55
166  hotel_167      9     55
349  hotel_350     12     56
14    hotel_15      5     56
120  hotel_121     15     56
52    hotel_53     19     56
319  hotel_320      9     56
248  hotel_249     16     57
241  hotel_242     13     57
5      hotel_6     10     58
143  hotel_144     18     59
91    hotel_92      7     59
246  hotel_247     14     60
21    hotel_22     17     61
251  hotel_252     13     64
154  hotel_155      7     65
156  hotel_157      6     65
272  hotel_273     15     66
134  hotel_135      8     66
119  hotel_120     13     66
108  hotel_109     11     67
396  hotel_397     12     68
261  hotel_262     15     68
159  hotel_160     11     68
6      hotel_7     11     69
133  hotel_134     10     69
282  hotel_283      9     71
173  hotel_174     13     72
278  hotel_279      7     73
103  hotel_104      9     73
101  hotel_102     15     73
267  hotel_268     14     73
188  hotel_189     18     73
338  hotel_339     10     74
304  hotel_305     18     74
359  hotel_360     13     75
78    hotel_79      5     75
336  hotel_337     10     75
87    hotel_88     11     75
294  hotel_295     16     76
223  hotel_224     16     76

In [1345]:
pivot_hotels = hotels.pivot_table(values='hotel', index='price', aggfunc='count')

In [1349]:
pivot_hotels[:50]

       hotel
price
50         2
52         2
53         1
54         4
55         2
56         5
57         2
58         1
59         2
60         1
61         1
64         1
65         2
66         3
67         1
68         3
69         2
71         1
72         1
73         5
74         2
75         4
76         2
77         1
78         1
79         3
81         2
82         2
83         2
84         1
85         4
88         1
90         1
91         1
92         2
93         3
94         1
95         2
96         1
97         1
98         4
101        1
102        4
104        1
107        2
108        2
109        1
112        1
113        1
115        1

Все, что дальше - не нужно

In [448]:
for hotel in second_priority_df['hotel']:
    rooms = second_priority_df[second_priority_df['hotel'] == hotel]['rooms'].values[0]
    list_happy_guests = list(start_df[start_df['hotel'] == hotel]['guest'])[:rooms]
    print(list_happy_guests)

['guest_228', 'guest_725', 'guest_911', 'guest_948', 'guest_1780', 'guest_2294', 'guest_2528', 'guest_2951', 'guest_3412', 'guest_3490']
['guest_280', 'guest_332', 'guest_398', 'guest_533', 'guest_751', 'guest_2106', 'guest_2512', 'guest_2642', 'guest_2669', 'guest_2676', 'guest_2764', 'guest_2840', 'guest_2871', 'guest_3086', 'guest_3106']
['guest_246', 'guest_450', 'guest_799', 'guest_816', 'guest_860', 'guest_1181', 'guest_1293', 'guest_2337', 'guest_2719', 'guest_2857', 'guest_3323']
['guest_294', 'guest_535', 'guest_722', 'guest_902', 'guest_1077']
['guest_34', 'guest_156', 'guest_512', 'guest_581', 'guest_673', 'guest_741', 'guest_870', 'guest_1001', 'guest_1956', 'guest_2011', 'guest_2311']
['guest_408', 'guest_604', 'guest_642', 'guest_884', 'guest_1086', 'guest_1488', 'guest_1500', 'guest_1862']
['guest_829', 'guest_1915', 'guest_1982', 'guest_2399', 'guest_3295', 'guest_3713']
['guest_144', 'guest_792', 'guest_1171', 'guest_1191', 'guest_1294']
['guest_167', 'guest_273', 'guest_376', 'guest_1120', 'guest_1177', 'guest_1642']
['guest_547', 'guest_558', 'guest_573', 'guest_919', 'guest_1525', 'guest_1536', 'guest_2126', 'guest_2189', 'guest_2230', 'guest_2402']
['guest_627', 'guest_634', 'guest_762', 'guest_1389', 'guest_1419', 'guest_1508', 'guest_2942']
['guest_372', 'guest_508', 'guest_914', 'guest_1586', 'guest_1994', 'guest_2282', 'guest_2649', 'guest_3203', 'guest_3228', 'guest_3261', 'guest_3301']
['guest_187', 'guest_1194', 'guest_1492', 'guest_1591', 'guest_2143']
['guest_864', 'guest_955', 'guest_1133', 'guest_1448', 'guest_1542', 'guest_1546', 'guest_1720', 'guest_1767', 'guest_1968', 'guest_2119', 'guest_2381']
['guest_61', 'guest_139', 'guest_284', 'guest_655', 'guest_717', 'guest_836', 'guest_2713', 'guest_2795', 'guest_3121', 'guest_3189']
['guest_502', 'guest_996', 'guest_1479', 'guest_2163', 'guest_2408', 'guest_2414', 'guest_2707', 'guest_2766']
['guest_145', 'guest_244', 'guest_765', 'guest_892', 'guest_1225']
['guest_965', 'guest_2069', 'guest_2254', 'guest_2440', 'guest_2708', 'guest_3207']
['guest_391', 'guest_423', 'guest_530', 'guest_1263', 'guest_1388', 'guest_1784', 'guest_2112', 'guest_2624']
['guest_1100', 'guest_1454', 'guest_1849', 'guest_1903', 'guest_1957', 'guest_2133', 'guest_2828', 'guest_3191', 'guest_3270', 'guest_3315', 'guest_3328']
['guest_66', 'guest_384', 'guest_471', 'guest_801', 'guest_1187']
['guest_662', 'guest_822', 'guest_1807', 'guest_2130', 'guest_2452', 'guest_3481', 'guest_3557']
['guest_574', 'guest_696', 'guest_728', 'guest_1139', 'guest_1686', 'guest_1831', 'guest_1965', 'guest_2459']
['guest_76', 'guest_641', 'guest_749', 'guest_791', 'guest_897', 'guest_1470', 'guest_1810']
['guest_141', 'guest_281', 'guest_985', 'guest_1105', 'guest_1243', 'guest_1684', 'guest_1922', 'guest_2078']
['guest_3', 'guest_11', 'guest_1769', 'guest_2105', 'guest_2258', 'guest_2316']
['guest_166', 'guest_1396', 'guest_2060', 'guest_2285', 'guest_2481', 'guest_2562', 'guest_2664', 'guest_2856', 'guest_3035', 'guest_3127']
['guest_1218', 'guest_1311', 'guest_1579', 'guest_1703', 'guest_1984', 'guest_2682', 'guest_3175', 'guest_3264', 'guest_3319', 'guest_3668', 'guest_3756', 'guest_3893']
['guest_614', 'guest_729', 'guest_776', 'guest_778', 'guest_944', 'guest_1286', 'guest_1310', 'guest_1992', 'guest_2322', 'guest_2422', 'guest_3850']
['guest_361', 'guest_1097', 'guest_1238', 'guest_1446', 'guest_1873', 'guest_2324', 'guest_2732', 'guest_2748']
['guest_21', 'guest_358', 'guest_464', 'guest_1043', 'guest_1204', 'guest_1259', 'guest_1712', 'guest_2458']
['guest_22', 'guest_430', 'guest_486', 'guest_556', 'guest_680']
['guest_413', 'guest_612', 'guest_1345', 'guest_1539', 'guest_1666', 'guest_2102', 'guest_2186']
['guest_327', 'guest_347', 'guest_1565', 'guest_1654', 'guest_2312']
['guest_265', 'guest_489', 'guest_593', 'guest_946', 'guest_1051', 'guest_1102', 'guest_1114', 'guest_1162', 'guest_1277', 'guest_1386', 'guest_1793', 'guest_1829', 'guest_1883']
['guest_204', 'guest_805', 'guest_843', 'guest_1399', 'guest_1926', 'guest_2007', 'guest_2560', 'guest_2807']
['guest_181', 'guest_591', 'guest_1078', 'guest_1264', 'guest_1336', 'guest_1535', 'guest_2180', 'guest_3258']
['guest_54', 'guest_2107', 'guest_2139', 'guest_2366', 'guest_3014']
['guest_325', 'guest_2076', 'guest_2114', 'guest_2497', 'guest_2698']
['guest_359', 'guest_519', 'guest_1468', 'guest_1824', 'guest_1851', 'guest_1932', 'guest_2187', 'guest_2522', 'guest_3002']
['guest_819', 'guest_1017', 'guest_1296', 'guest_1353', 'guest_1631']
['guest_71', 'guest_178', 'guest_1312', 'guest_1384', 'guest_1451', 'guest_1476', 'guest_2127', 'guest_3875', 'guest_3915']
['guest_1192', 'guest_1474', 'guest_1743', 'guest_2242', 'guest_2520', 'guest_3066', 'guest_3195']
['guest_352', 'guest_1589', 'guest_1857', 'guest_2014', 'guest_2238', 'guest_2426', 'guest_2565', 'guest_2615', 'guest_2750', 'guest_2768']
['guest_25', 'guest_219', 'guest_331', 'guest_1233', 'guest_1247', 'guest_1354']
['guest_241', 'guest_694', 'guest_1011', 'guest_1262', 'guest_1301', 'guest_1529']
['guest_93', 'guest_128', 'guest_624', 'guest_1725', 'guest_1821', 'guest_1839', 'guest_2546', 'guest_2681']
['guest_1811', 'guest_2150', 'guest_2325', 'guest_2612', 'guest_2733', 'guest_2816', 'guest_3380']
['guest_216', 'guest_571', 'guest_850', 'guest_2482', 'guest_2718', 'guest_3389']
['guest_198', 'guest_349', 'guest_1481', 'guest_1556', 'guest_1610', 'guest_2217', 'guest_2513', 'guest_2638', 'guest_2811', 'guest_3093']
['guest_129', 'guest_195', 'guest_643', 'guest_1106', 'guest_1465']
['guest_59', 'guest_366', 'guest_1585', 'guest_1934', 'guest_2156', 'guest_2397', 'guest_2455', 'guest_2877', 'guest_3156']
['guest_12', 'guest_18', 'guest_282', 'guest_343', 'guest_426', 'guest_630', 'guest_706', 'guest_941', 'guest_1826']
['guest_1018', 'guest_1186', 'guest_1947', 'guest_2318', 'guest_2595', 'guest_2684']
['guest_444', 'guest_771', 'guest_1112', 'guest_1155', 'guest_1623']
['guest_50', 'guest_112', 'guest_392', 'guest_1276', 'guest_1381', 'guest_1445']
['guest_91', 'guest_183', 'guest_470', 'guest_587', 'guest_1308', 'guest_1999']
['guest_308', 'guest_460', 'guest_598', 'guest_939', 'guest_1856', 'guest_2411', 'guest_2516', 'guest_2850', 'guest_2870', 'guest_3209', 'guest_3307', 'guest_3496']
['guest_146', 'guest_362', 'guest_930', 'guest_1150', 'guest_1566', 'guest_1923', 'guest_1974', 'guest_2192', 'guest_2824']
['guest_322', 'guest_402', 'guest_453', 'guest_1035', 'guest_1318', 'guest_1567', 'guest_1620', 'guest_1722', 'guest_1777']
['guest_4', 'guest_226', 'guest_657', 'guest_808', 'guest_1258']
['guest_416', 'guest_478', 'guest_733', 'guest_938', 'guest_1234', 'guest_1395', 'guest_1707', 'guest_2110']
['guest_473', 'guest_1030', 'guest_1209', 'guest_1462', 'guest_1499', 'guest_1502', 'guest_1515', 'guest_1972', 'guest_2062', 'guest_2212']
['guest_70', 'guest_98', 'guest_200', 'guest_296', 'guest_834', 'guest_898', 'guest_1407', 'guest_1482', 'guest_1683']
['guest_554', 'guest_703', 'guest_1443', 'guest_1522', 'guest_1863', 'guest_2395', 'guest_2464', 'guest_3132']
['guest_135', 'guest_499', 'guest_515', 'guest_712', 'guest_763', 'guest_1410', 'guest_1638', 'guest_1746']
['guest_173', 'guest_616', 'guest_697', 'guest_900', 'guest_1037']
['guest_88', 'guest_116', 'guest_455', 'guest_832', 'guest_837', 'guest_943', 'guest_1472', 'guest_1657', 'guest_1897', 'guest_2121', 'guest_2391', 'guest_2661', 'guest_2755']
['guest_118', 'guest_201', 'guest_275', 'guest_781', 'guest_1127', 'guest_1540', 'guest_1875']
['guest_78', 'guest_177', 'guest_353', 'guest_676', 'guest_715', 'guest_859', 'guest_1065', 'guest_1447', 'guest_1640', 'guest_1699', 'guest_1861', 'guest_2465', 'guest_3063']
['guest_252', 'guest_305', 'guest_323', 'guest_568', 'guest_1333', 'guest_1429', 'guest_1431', 'guest_1971', 'guest_2088', 'guest_2342', 'guest_2490']
['guest_162', 'guest_271', 'guest_442', 'guest_986', 'guest_1305', 'guest_1464', 'guest_1544', 'guest_1796', 'guest_1833']
['guest_1016', 'guest_1095', 'guest_1980', 'guest_2537', 'guest_3153']
['guest_795', 'guest_1149', 'guest_1217', 'guest_1545', 'guest_1614', 'guest_2068', 'guest_2097', 'guest_2597', 'guest_2628', 'guest_2759', 'guest_3003', 'guest_3275', 'guest_3327', 'guest_3717']
['guest_83', 'guest_230', 'guest_1087', 'guest_1253', 'guest_1341']
['guest_60', 'guest_433', 'guest_459', 'guest_498', 'guest_821']
['guest_333', 'guest_709', 'guest_802', 'guest_861', 'guest_915', 'guest_969', 'guest_1275', 'guest_1290', 'guest_1648', 'guest_1650']
['guest_154', 'guest_654', 'guest_2038', 'guest_2361', 'guest_2466', 'guest_2650']
['guest_311', 'guest_452', 'guest_738', 'guest_1015', 'guest_1304', 'guest_1523', 'guest_2120', 'guest_2320', 'guest_2735', 'guest_3202', 'guest_3278']
['guest_557', 'guest_623', 'guest_1049', 'guest_1126', 'guest_1223', 'guest_1663', 'guest_2812']
['guest_77', 'guest_339', 'guest_660', 'guest_1351', 'guest_1424', 'guest_1534', 'guest_2108', 'guest_2197', 'guest_3256', 'guest_3534', 'guest_3810', 'guest_3890']
['guest_82', 'guest_438', 'guest_540', 'guest_1093', 'guest_1380', 'guest_2003', 'guest_2202', 'guest_2216', 'guest_2551']
['guest_868', 'guest_1072', 'guest_1331', 'guest_1661', 'guest_1799']
['guest_43', 'guest_396', 'guest_1052', 'guest_2019', 'guest_2172', 'guest_2210', 'guest_2263']
['guest_862', 'guest_1487', 'guest_1801', 'guest_2600', 'guest_2660']
['guest_313', 'guest_516', 'guest_678', 'guest_797', 'guest_1212', 'guest_1423']
['guest_176', 'guest_337', 'guest_424', 'guest_647', 'guest_809', 'guest_976', 'guest_1047', 'guest_1749', 'guest_1786', 'guest_1908']
['guest_20', 'guest_688', 'guest_734', 'guest_782', 'guest_931']
['guest_351', 'guest_386', 'guest_689', 'guest_1687', 'guest_1985', 'guest_2363']
['guest_377', 'guest_449', 'guest_1432', 'guest_1836', 'guest_2436']
['guest_536', 'guest_559', 'guest_1581', 'guest_1976', 'guest_2160']
['guest_105', 'guest_136', 'guest_170', 'guest_929', 'guest_1009', 'guest_1041', 'guest_1176', 'guest_1639', 'guest_1882']
['guest_586', 'guest_653', 'guest_661', 'guest_1132', 'guest_1369', 'guest_1406', 'guest_1600']
['guest_289', 'guest_1027', 'guest_1271', 'guest_1939', 'guest_3265', 'guest_3392', 'guest_3485', 'guest_3704', 'guest_3872']
['guest_278', 'guest_582', 'guest_637', 'guest_1347', 'guest_1668']
['guest_467', 'guest_521', 'guest_731', 'guest_1576', 'guest_2952']
['guest_409', 'guest_692', 'guest_784', 'guest_1804', 'guest_1990', 'guest_2051']
['guest_560', 'guest_942', 'guest_1005', 'guest_1844', 'guest_2122']
['guest_215', 'guest_601', 'guest_1161', 'guest_1526', 'guest_1714', 'guest_1962', 'guest_2004', 'guest_2193']
['guest_401', 'guest_1330', 'guest_2362', 'guest_2418', 'guest_2690', 'guest_2790']
['guest_229', 'guest_374', 'guest_1744', 'guest_1837', 'guest_2096', 'guest_2168', 'guest_2219', 'guest_2352', 'guest_2432', 'guest_2878']
['guest_259', 'guest_730', 'guest_796', 'guest_1344', 'guest_1359', 'guest_1609']
['guest_345', 'guest_461', 'guest_1179', 'guest_1269', 'guest_1618', 'guest_2446']
['guest_189', 'guest_303', 'guest_541', 'guest_780', 'guest_913', 'guest_1507', 'guest_2248', 'guest_2303']
['guest_158', 'guest_441', 'guest_458', 'guest_476', 'guest_503', 'guest_1205', 'guest_1819', 'guest_2346', 'guest_2380', 'guest_2658', 'guest_2765', 'guest_3056', 'guest_3064', 'guest_3340']
['guest_258', 'guest_506', 'guest_592', 'guest_602', 'guest_1090', 'guest_1317', 'guest_1564', 'guest_1603', 'guest_1914', 'guest_2291']
['guest_202', 'guest_363', 'guest_1172', 'guest_1759', 'guest_2580']
['guest_338', 'guest_1208', 'guest_1366', 'guest_1383', 'guest_1416']
['guest_606', 'guest_2104', 'guest_2396', 'guest_2477', 'guest_2813', 'guest_3466']
['guest_44', 'guest_103', 'guest_163', 'guest_609', 'guest_875', 'guest_1038', 'guest_1140']
['guest_2', 'guest_175', 'guest_2228', 'guest_2280', 'guest_2962', 'guest_3351']
['guest_550', 'guest_566', 'guest_649', 'guest_824', 'guest_1022']
['guest_856', 'guest_966', 'guest_1252', 'guest_1635', 'guest_1723', 'guest_1753', 'guest_2109', 'guest_2165', 'guest_2233', 'guest_2267', 'guest_2754', 'guest_3165']
['guest_101', 'guest_270', 'guest_411', 'guest_1164', 'guest_1361', 'guest_1467', 'guest_1629', 'guest_1894']
['guest_150', 'guest_234', 'guest_973', 'guest_1169', 'guest_1321', 'guest_1343', 'guest_1537', 'guest_1900', 'guest_2170', 'guest_2237', 'guest_2896', 'guest_3166', 'guest_3287', 'guest_3441']
['guest_222', 'guest_235', 'guest_1306', 'guest_1453', 'guest_1569', 'guest_1709']
['guest_16', 'guest_373', 'guest_645', 'guest_1762', 'guest_1931', 'guest_2501', 'guest_2571']
['guest_369', 'guest_382', 'guest_813', 'guest_1110', 'guest_1809', 'guest_2080', 'guest_2315', 'guest_2728']
['guest_406', 'guest_617', 'guest_648', 'guest_922', 'guest_970']
['guest_1101', 'guest_1662', 'guest_1822', 'guest_1847', 'guest_2084']
['guest_157', 'guest_753', 'guest_921', 'guest_967', 'guest_1148', 'guest_2841', 'guest_3329']
['guest_356', 'guest_525', 'guest_742', 'guest_1076', 'guest_1371', 'guest_1375', 'guest_1936']
['guest_35', 'guest_1394', 'guest_1818', 'guest_1953', 'guest_2266', 'guest_2703']
['guest_94', 'guest_543', 'guest_848', 'guest_901', 'guest_993', 'guest_1197', 'guest_1490']
['guest_268', 'guest_274', 'guest_334', 'guest_1418', 'guest_1656', 'guest_1758']
['guest_186', 'guest_283', 'guest_1006', 'guest_1495', 'guest_1798']
['guest_209', 'guest_257', 'guest_871', 'guest_1497', 'guest_2183']
['guest_261', 'guest_826', 'guest_851', 'guest_1128', 'guest_1941', 'guest_2794']
['guest_480', 'guest_699', 'guest_849', 'guest_1136', 'guest_1574', 'guest_1812', 'guest_1909', 'guest_2347', 'guest_2746', 'guest_2881', 'guest_3185', 'guest_3277', 'guest_3369', 'guest_3371']
['guest_572', 'guest_632', 'guest_908', 'guest_1066', 'guest_1751', 'guest_1907', 'guest_2136', 'guest_2290', 'guest_2556', 'guest_2630', 'guest_2994']
['guest_256', 'guest_354', 'guest_596', 'guest_628', 'guest_674', 'guest_698']
['guest_485', 'guest_579', 'guest_912', 'guest_959', 'guest_1630', 'guest_1697', 'guest_1761', 'guest_1858', 'guest_1865', 'guest_2190']
['guest_429', 'guest_743', 'guest_841', 'guest_1216', 'guest_1221', 'guest_1226', 'guest_1385', 'guest_1570', 'guest_2149', 'guest_2286', 'guest_2385', 'guest_2574', 'guest_2873']
['guest_328', 'guest_815', 'guest_1724', 'guest_1879', 'guest_2445', 'guest_2454', 'guest_2858', 'guest_3025', 'guest_3117', 'guest_3139', 'guest_3486', 'guest_3585']
['guest_160', 'guest_240', 'guest_584', 'guest_979', 'guest_1089', 'guest_1255', 'guest_1727', 'guest_1752', 'guest_1806', 'guest_2024', 'guest_2247', 'guest_2849']
['guest_720', 'guest_786', 'guest_1042', 'guest_1206', 'guest_1952']
['guest_74', 'guest_159', 'guest_214', 'guest_431', 'guest_1559', 'guest_1702', 'guest_2025', 'guest_2309', 'guest_2604']
['guest_266', 'guest_285', 'guest_520', 'guest_633', 'guest_926']
['guest_29', 'guest_152', 'guest_830', 'guest_872', 'guest_883']
['guest_57', 'guest_96', 'guest_671', 'guest_1002', 'guest_1122', 'guest_1505', 'guest_1889', 'guest_2663', 'guest_2814', 'guest_3005', 'guest_3052']
['guest_474', 'guest_1004', 'guest_1130', 'guest_1235', 'guest_1295']
['guest_355', 'guest_693', 'guest_726', 'guest_772', 'guest_774', 'guest_909', 'guest_1541']
['guest_149', 'guest_184', 'guest_302', 'guest_1044', 'guest_1117', 'guest_1368', 'guest_1519', 'guest_2319', 'guest_2802', 'guest_3053', 'guest_3140']
['guest_153', 'guest_185', 'guest_238', 'guest_387', 'guest_468']
['guest_412', 'guest_531', 'guest_663', 'guest_827', 'guest_1032', 'guest_1524', 'guest_1596', 'guest_1871', 'guest_1938', 'guest_1975', 'guest_2239', 'guest_2348']

In [440]:
list(start_df[start_df['hotel'] == 'hotel_296']['guest'])[:2] #2 - это ключ по отелю из таблицы second_df

['guest_1008', 'guest_1297']

In [442]:
list(start_df[start_df['hotel'] == 'hotel_296']['guest'])

['guest_1008', 'guest_1297', 'guest_1765']

In [376]:
start_df[start_df['hotel'] == 'hotel_296']

            guest      hotel  priority
24368  guest_1008  hotel_296         1
31467  guest_1297  hotel_296         1
43841  guest_1765  hotel_296         1

In [360]:
start_df_group = start_df.pivot_table(values='priority', index='hotel', aggfunc='count')

In [374]:
start_df_group[start_df_group['priority'] == 3]

           priority
hotel
hotel_296         3
hotel_384         3
hotel_94          3

In [ ]:
Джойн start_df_group на hotels, чтобы понять, в каких отелях не хватило места, и идти по вторым приоритетам для этих клиентов

In [386]:
start_df_merged = pd.merge(start_df_group, hotels, on = 'hotel', how = 'left')

In [398]:
first_priority_df = start_df_merged[start_df_merged['priority'] <= start_df_merged['rooms']] #255 hotels are ok!

In [394]:
second_priority_df = start_df_merged[start_df_merged['priority'] > start_df_merged['rooms']]
#145 hotels need to be recalculated according to partly second prioruty

In [402]:
sum(first_priority_df['priority']) #2265 clients can be easily distributed

2265

In [408]:
second_priority_df['rooms']

         hotel  priority  rooms  price
1     hotel_10        13     10    222
3    hotel_101        16     15    158
8    hotel_106        12     11    297
10   hotel_108        10      5    132
11   hotel_109        14     11     67
..         ...       ...    ...    ...
389    hotel_9         9      5    227
392   hotel_92        15      7     59
393   hotel_93        14     11    285
395   hotel_95        10      5    293
396   hotel_96        17     12    208

[145 rows x 4 columns]

In [412]:
sum(second_priority_df['rooms']) #1133 clients can be distributed accordint to their first priority, 1132 can be distributed according to another priorities

1133

In [356]:
start_df = preferences[preferences['priority'] == 1] and hotel not in first_priority and