In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\mi\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 3.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.5 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.5 MB 4.1 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.5 MB 4.4 MB/s eta 0:00:02
   ---------------- ----------------------- 4.7/11.5 MB 4.8 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.5 MB 5.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 6.3 MB/s eta 0:00:00
Downloading numpy-2.1.3-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -------- ------------------------------- 2.6/12.6 MB 13.0 MB/s eta 0:00:01
   -------------------- ------------------- 6.3/12.6 MB 16.0 MB/s eta 0:00:01
   ------------------------------- -------- 10.0/12.6 MB 16.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 16.7 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\mi\appdata\local\programs\python\python313\lib\site-packages (2.1.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [3]:
hotels = pd.read_excel('hotels.xlsx')

In [4]:
guests = pd.read_excel('guests.xlsx')

In [5]:
preferences = pd.read_excel('preferences.xlsx')

In [6]:
hotels = hotels.iloc[:, 1:]

In [7]:
preferences = preferences.iloc[:, 1:]

In [8]:
guests.rename(columns={'Unnamed: 0': 'index'}, inplace=True)

In [9]:
hotels[hotels['rooms'] == 0] #just in case

Empty DataFrame
Columns: [hotel, rooms, price]
Index: []

In [10]:
hotels.head()

     hotel  rooms  price
0  hotel_1     13    273
1  hotel_2     18     92
2  hotel_3     12    141
3  hotel_4     18    157
4  hotel_5      7    298

In [11]:
hotels_new = pd.DataFrame(columns = ['room_number', 'hotel_number'])

In [12]:
hotels[hotels['hotel'] == 'hotel_2']['rooms'].values[0]

np.int64(18)

In [13]:
hotels_new = pd.DataFrame(columns = ['room_number', 'hotel_number'])
for i in hotels['hotel']:
    room_numbers = hotels[hotels['hotel'] == i]['rooms'].values[0]
    a = 0
    for j in range(room_numbers):
        a +=1 
        hotels_new.loc[len(hotels_new)] = [a, i]
    hotels_new

In [14]:
hotels_new = pd.DataFrame(columns = ['room_number', 'hotel_number', 'price'])
for i in hotels['hotel']:
    room_numbers = hotels[hotels['hotel'] == i]['rooms'].values[0]
    price = hotels[hotels['hotel'] == i]['price'].values[0]
    a = 0
    for j in range(room_numbers):
        a +=1 
        hotels_new.loc[len(hotels_new)] = [a, i, price]
    hotels_new

In [15]:
random_numbers = np.random.permutation(len(hotels_new))

In [16]:
hotels_new['random_number'] = random_numbers

In [17]:
hotels_new2 = hotels_new[hotels_new['random_number'] <= 3999]

In [18]:
merged_distribution = pd.merge(hotels_new2, guests, left_on = 'random_number', right_on = 'index', how = 'left')

In [19]:
result_distribution = merged_distribution[['index', 'hotel_number', 'room_number', 'price', 'guest', 'discount']]

In [20]:
result_distribution['price_final'] = result_distribution['price'] * (1 - result_distribution['discount'])

In [21]:
result_distribution_group = result_distribution.pivot_table(values='price_final', index='hotel_number', aggfunc='sum')

In [22]:
hotels_new_price_order = hotels_new.sort_values(by='price', ascending=False)

In [23]:
hotels_new_price_order = hotels_new_price_order.head(4000)

In [24]:
random_numbers2 = np.random.permutation(len(hotels_new_price_order))

In [25]:
hotels_new_price_order['random_number'] = random_numbers2

In [26]:
merged_distribution_order = pd.merge(hotels_new_price_order, guests, left_on = 'random_number', right_on = 'index', how = 'left')

In [27]:
result_distribution_order = merged_distribution_order[['index', 'hotel_number', 'room_number', 'price', 'guest', 'discount']]

In [28]:
result_distribution_order['price_final'] = result_distribution_order['price'] * (1 - result_distribution_order['discount'])

In [29]:
result_distribution_order_group = result_distribution_order.pivot_table(values='price_final', index='hotel_number', aggfunc='sum')

In [30]:
result_distribution_group

              price_final
hotel_number
hotel_1           3046.68
hotel_10          1751.58
hotel_100         2553.60
hotel_101         1676.38
hotel_102          852.64
...                   ...
hotel_95          1048.94
hotel_96          1998.88
hotel_97          4224.96
hotel_98          1804.98
hotel_99           987.36

[400 rows x 1 columns]

In [31]:
result_distribution_order_group

              price_final
hotel_number
hotel_1           3183.18
hotel_10          1964.70
hotel_100         2795.20
hotel_101         2153.54
hotel_103         1694.23
...                   ...
hotel_95          1330.22
hotel_96          2344.16
hotel_97          4348.80
hotel_98          2460.24
hotel_99          1047.20

[350 rows x 1 columns]

In [32]:
sum(result_distribution_group['price_final'])

642415.86

In [33]:
sum(result_distribution_order_group['price_final'])

703729.69

In [82]:
result_distribution

,index,hotel_number,room_number,price,guest,discount,price_final
0,1785,hotel_1,1,273,guest_1786,0.02,267.54
1,209,hotel_1,2,273,guest_210,0.01,270.27
2,1590,hotel_1,3,273,guest_1591,0.00,273.00
3,2557,hotel_1,4,273,guest_2558,0.10,245.70
4,3173,hotel_1,5,273,guest_3174,0.03,264.81
...,...,...,...,...,...,...,...
3995,3862,hotel_400,10,145,guest_3863,0.17,120.35
3996,3125,hotel_400,11,145,guest_3126,0.14,124.70
3997,3130,hotel_400,12,145,guest_3131,0.18,118.90
3998,2734,hotel_400,13,145,guest_2735,0.03,140.65
3999,3825,hotel_400,14,145,guest_3826,0.18,118.90

In [ ]:
#visualisation
1) hotels - total revenue distribution (5-10 buckets)
2) hotels - percentage of checking in
3) hotel price and its revenue (4 categories of hotel price and sum of revenue)
4) hotel price and distribution of guests according to categories (amount of guests) 
5) guests - priorities score (?) difficult (if hotel is in top 5 priorities - just number?)

Part 2

In [35]:
start_df = preferences[preferences['priority'] == 1]

In [36]:
start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\3157429541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

In [37]:
df_hotels = pd.merge(start_df, hotels, on = 'hotel', how = 'left')

In [38]:
df_full = pd.merge(df_hotels, guests, on = 'guest', how = 'left')

In [39]:
guests_first_priority = df_full[df_full['rn'] <= df_full['rooms']]

In [40]:
guests_second_priority = df_full[df_full['rn'] > df_full['rooms']]

In [41]:
guests_first_priority[guests_first_priority['hotel'] == 'hotel_1'] #just check everything is alright

           guest    hotel  priority  rn  rooms  price  index  discount
170    guest_171  hotel_1         1   1     13    273    170      0.19
305    guest_306  hotel_1         1   2     13    273    305      0.03
455    guest_456  hotel_1         1   3     13    273    455      0.12
599    guest_600  hotel_1         1   4     13    273    599      0.17
1359  guest_1360  hotel_1         1   5     13    273   1359      0.04
1391  guest_1392  hotel_1         1   6     13    273   1391      0.19
3076  guest_3077  hotel_1         1   7     13    273   3076      0.11
3106  guest_3107  hotel_1         1   8     13    273   3106      0.08
3699  guest_3700  hotel_1         1   9     13    273   3699      0.01
3867  guest_3868  hotel_1         1  10     13    273   3867      0.08

In [42]:
hotels_rest = guests_first_priority.pivot_table(values= ['guest', 'rooms'], index='hotel', aggfunc={'guest':'count', 'rooms':'mean'})

In [43]:
hotels_rest['rooms'] = hotels_rest['rooms'].astype(int) #можно не делать в принципе

In [44]:
hotels_rest['rest'] = hotels_rest['rooms'] - hotels_rest['guest']

Снова идем по вторым приоритетам для оставшихся 602 гостей с учетом заселенных номеров

In [45]:
guests_second_priority = pd.merge(guests_second_priority, preferences.query('priority == 2'), on = 'guest', how = 'left')

In [46]:
guests_second_priority = pd.merge(guests_second_priority, hotels_rest, left_on = 'hotel_y', right_on = 'hotel', how = 'left')

In [47]:
guests_second_priority['rn_2'] = guests_second_priority.groupby('hotel_y').cumcount() + 1

In [48]:
guests_third_priority = guests_second_priority[guests_second_priority['rn_2'] > guests_second_priority['rest']] #осталось расселить еще 281 гостя

In [49]:
guests_second_priority = guests_second_priority[guests_second_priority['rn_2'] <= guests_second_priority['rest']] #расселены еще 308 гостей

Делаем цикл, потому что непонятно сколько еще таких шагов предстоит пройти

In [50]:
list_priorities= preferences['priority'].unique().tolist()

In [51]:
checked_in_guests = pd.DataFrame()
hotels_rest = hotels
not_checked_in_guests = guests

In [52]:
start_df = preferences[(preferences['priority'] == 1) & preferences['guest'].isin(not_checked_in_guests['guest']) ]
start_df

            guest      hotel  priority
0         guest_1  hotel_168         1
18        guest_2  hotel_369         1
60        guest_3  hotel_157         1
86        guest_4  hotel_235         1
132       guest_5  hotel_121         1
...           ...        ...       ...
99380  guest_3996  hotel_350         1
99424  guest_3997   hotel_19         1
99452  guest_3998  hotel_160         1
99489  guest_3999  hotel_277         1
99501  guest_4000  hotel_275         1

[4000 rows x 3 columns]

In [53]:
start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\3157429541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

In [54]:
df_hotels = pd.merge(start_df, hotels_rest, on = 'hotel', how = 'left')
df_hotels

           guest      hotel  priority  rn  rooms  price
0        guest_1  hotel_168         1   1     13    298
1        guest_2  hotel_369         1   1      6    133
2        guest_3  hotel_157         1   1      6     65
3        guest_4  hotel_235         1   1      5    136
4        guest_5  hotel_121         1   1     15     56
...          ...        ...       ...  ..    ...    ...
3995  guest_3996  hotel_350         1  10     12     56
3996  guest_3997   hotel_19         1   4     10    113
3997  guest_3998  hotel_160         1  14     11     68
3998  guest_3999  hotel_277         1  15     18    281
3999  guest_4000  hotel_275         1  14     11    159

[4000 rows x 6 columns]

In [55]:
checked_in_guests = pd.concat([checked_in_guests, df_hotels[df_hotels['rn'] <= df_hotels['rooms']]], ignore_index=True)
checked_in_guests

           guest      hotel  priority  rn  rooms  price
0        guest_1  hotel_168         1   1     13    298
1        guest_2  hotel_369         1   1      6    133
2        guest_3  hotel_157         1   1      6     65
3        guest_4  hotel_235         1   1      5    136
4        guest_5  hotel_121         1   1     15     56
...          ...        ...       ...  ..    ...    ...
3393  guest_3993  hotel_359         1   8     14    163
3394  guest_3994   hotel_58         1  10     15    120
3395  guest_3996  hotel_350         1  10     12     56
3396  guest_3997   hotel_19         1   4     10    113
3397  guest_3999  hotel_277         1  15     18    281

[3398 rows x 6 columns]

In [56]:
hotels_rest = checked_in_guests.pivot_table(values= ['guest', 'rooms', 'price'], index='hotel', aggfunc={'guest':'count', 'rooms':'mean', 'price':'mean'})

In [57]:
hotels_rest = hotels_rest.reset_index()

In [58]:
hotels_rest['rest'] = hotels_rest['rooms'] - hotels_rest['guest']

In [59]:
hotels_rest = hotels_rest.rename(columns={'guest': 'guests'})

In [60]:
checked_in_guests[checked_in_guests['rn'] == 2]

           guest      hotel  priority  rn  rooms  price
10      guest_11  hotel_157         1   2      6     65
17      guest_18  hotel_215         1   2      9    133
38      guest_39  hotel_121         1   2     15     56
84      guest_85  hotel_266         1   2     18    169
85      guest_86  hotel_277         1   2     18    281
...          ...        ...       ...  ..    ...    ...
2627  guest_2830   hotel_19         1   2     10    113
2727  guest_2968   hotel_13         1   2     15    198
2792  guest_3058  hotel_286         1   2      8    207
2808  guest_3083  hotel_334         1   2      7     83
2984  guest_3352  hotel_233         1   2     12    278

[400 rows x 6 columns]

In [61]:
checked_in_guests = pd.DataFrame()
hotels_rest = hotels
hotels_rest['rest'] = hotels['rooms']
hotels_rest['guests'] = 0
not_checked_in_guests = guests
while not not_checked_in_guests.empty:
    for priority in list_priorities:
        start_df = preferences[(preferences['priority'] == priority) & preferences['guest'].isin(not_checked_in_guests['guest']) ]
        start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
        df_hotels = pd.merge(start_df, hotels_rest, on = 'hotel', how = 'left')
        checked_in_guests = pd.concat([checked_in_guests, df_hotels[df_hotels['rn'] <= df_hotels['rest']]], ignore_index=True)
        not_checked_in_guests = df_hotels[df_hotels['rn'] > df_hotels['rest']]
        
        hotels_rest = checked_in_guests.pivot_table(values= ['guest', 'rooms', 'price'], index='hotel', aggfunc={'guest':'count', 'rooms':'mean', 'price':'mean'})
        hotels_rest = hotels_rest.rename(columns={'guest': 'guests'})
        hotels_rest['rest'] = hotels_rest['rooms'] - hotels_rest['guests']
        hotels_rest = hotels_rest.reset_index()
        print(priority, len(checked_in_guests))

C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

1 3398
2 3706
3 3828
4 3890
5 3924
6 3941
7 3952
8 3959
9 3964

C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1
C:\Users\Mi\AppData\Local\Temp\ipykernel_14908\1903805619.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_df['rn'] = start_df.groupby('hotel').cumcount() + 1

10 3966
11 3967
12 3971
13 3971
14 3971
15 3972
16 3972
17 3972
18 3972
19 3972
20 3972
21 3972
22 3972
23 3972
24 3972
25 3972
26 3972
27 3972
28 3972
29 3972
30 3972
31 3972
32 3972
33 3972
34 3972
35 3972
36 3972
37 3972
38 3972
39 3972
40 3972
41 3972
42 3972
43 3972
44 3972
45 3972
46 3972
47 3972
48 3972
49 3972

In [62]:
check_df = preferences[~preferences['guest'].isin(checked_in_guests['guest'])] #these guests will be distributed according to the cheapest hotels

In [63]:
guests_leftovers = check_df['guest'].unique().tolist()

In [64]:
x = len(guests_leftovers)

In [65]:
hotels_for_leftovers = hotels_rest[hotels_rest['rest'] > 0].sort_values('price') #additional marketing step to let leftovers check in in the cheapest hotels

In [66]:
rooms_leftovers = pd.merge(hotels_new, hotels_for_leftovers, left_on = 'hotel_number', right_on = 'hotel', how = 'inner')

In [67]:
rooms_leftovers = rooms_leftovers[rooms_leftovers['room_number'] > rooms_leftovers['guests']]

In [68]:
rooms_leftovers = rooms_leftovers.sort_values('price_x')[:x]

In [69]:
rooms_leftovers['guest'] = guests_leftovers

In [70]:
rooms_leftovers['priority'] = 0

In [71]:
rooms_leftovers = rooms_leftovers.rename(columns={'price_y': 'price'})

In [72]:
checked_in_guests = checked_in_guests[['guest', 'hotel', 'priority', 'price', 'rooms']]

In [73]:
rooms_leftovers = rooms_leftovers[['guest', 'hotel', 'priority', 'price', 'rooms']]

In [74]:
final_guests = pd.concat([checked_in_guests, rooms_leftovers], ignore_index=True)

In [75]:
final_guests = pd.merge(final_guests, guests, on = 'guest', how = 'left')

In [76]:
final_guests['price_final'] = final_guests['price'] * (1 - final_guests['discount'])

In [77]:
result_distribution_group_part2 = final_guests.pivot_table(values='price_final', index='hotel', aggfunc='sum')

In [81]:
final_guests

,guest,hotel,priority,price,rooms,index,discount,price_final
0,guest_1,hotel_168,1,298.0,13.0,0,0.09,271.18
1,guest_2,hotel_369,1,133.0,6.0,1,0.00,133.00
2,guest_3,hotel_157,1,65.0,6.0,2,0.07,60.45
3,guest_4,hotel_235,1,136.0,5.0,3,0.00,136.00
4,guest_5,hotel_121,1,56.0,15.0,4,0.10,50.40
...,...,...,...,...,...,...,...,...
3995,guest_3770,hotel_26,0,55.0,19.0,3769,0.06,51.70
3996,guest_3789,hotel_167,0,55.0,9.0,3788,0.19,44.55
3997,guest_3795,hotel_26,0,55.0,19.0,3794,0.18,45.10
3998,guest_3943,hotel_26,0,55.0,19.0,3942,0.13,47.85
3999,guest_3958,hotel_350,0,56.0,12.0,3957,0.12,49.28

In [79]:
sum(result_distribution_group_part2['price_final'])

644159.43

Part 3

In [ ]:
1. Заселяем сначала все самые дешевые отели - сортируем таблицу с комнатами hotels_new по цене
2. Для каждого отеля по порядку: получить список гостей исходя из порядка и приоритета

создать датасет для каждого отеля - временный 
создать совокупный датасет

для каждого отеля отобрать только тех гостей, у которых он встречается в приоритетах
hotel - guest - priority - *rn

отсортировать по приоритету, затем по гостю 
пронумеровать и оставить только тех, кто меньше количества комнат 

также сделать датасеты с заселенными и незаселенными гостями, чтобы в новой итерации обращаться к измененному списку гостей 
то есть датасет с гостями будет меняться

In [110]:
priorities = []
for i in range(1, max(preferences['priority']) + 1):
    priorities.append(i)

In [111]:
hotels_new = hotels_new.sort_values(by = ['price', 'hotel_number', 'room_number'])

In [112]:
hotels = hotels.sort_values('price')

In [113]:
hotels_draft = hotels.copy()
df_draft = pd.DataFrame()
dict_hotels = hotels_draft.groupby('price')['hotel'].apply(list).to_dict()
checked_in_full = pd.DataFrame(columns = ['guest'])
for key in dict_hotels:
    for hotel in dict_hotels[key]:
        df_draft_0 = preferences[(preferences['hotel'] == hotel) & ~preferences['guest'].isin(checked_in_full['guest'])] #исключаем тех, кого заселили
        df_draft = pd.concat([df_draft, df_draft_0], ignore_index=True)
    for priority in priorities:
        df_priority = df_draft[(df_draft['priority'] == priority) & ~df_draft['guest'].isin(checked_in_full['guest'])] #исключить тех, кого заселили
        for hotel in dict_hotels[key]:
            checked_in_guests = df_priority[df_priority['hotel'] == hotel]
            free_rooms = hotels_draft[hotels_draft['hotel'] == hotel]['rooms'].values[0]
            checked_in_guests = checked_in_guests[:free_rooms]
            checked_in_full = pd.concat([checked_in_full, checked_in_guests], ignore_index=True)
            hotels_draft.loc[hotels_draft['hotel'] == hotel, 'rooms'] -= len(checked_in_guests)
    print(key, dict_hotels[key], len(checked_in_full), 'done')       
    df_draft = pd.DataFrame()

50 ['hotel_49', 'hotel_190'] 29 done
52 ['hotel_301', 'hotel_354'] 47 done
53 ['hotel_24'] 56 done
54 ['hotel_365', 'hotel_47', 'hotel_23', 'hotel_321'] 115 done
55 ['hotel_167', 'hotel_26'] 143 done
56 ['hotel_121', 'hotel_320', 'hotel_350', 'hotel_53', 'hotel_15'] 203 done
57 ['hotel_249', 'hotel_242'] 232 done
58 ['hotel_6'] 242 done
59 ['hotel_92', 'hotel_144'] 267 done
60 ['hotel_247'] 281 done
61 ['hotel_22'] 298 done
64 ['hotel_252'] 311 done
65 ['hotel_157', 'hotel_155'] 324 done
66 ['hotel_135', 'hotel_120', 'hotel_273'] 360 done
67 ['hotel_109'] 371 done
68 ['hotel_397', 'hotel_160', 'hotel_262'] 409 done
69 ['hotel_7', 'hotel_134'] 430 done
71 ['hotel_283'] 439 done
72 ['hotel_174'] 452 done
73 ['hotel_268', 'hotel_102', 'hotel_104', 'hotel_279', 'hotel_189'] 515 done
74 ['hotel_305', 'hotel_339'] 543 done
75 ['hotel_360', 'hotel_79', 'hotel_88', 'hotel_337'] 582 done
76 ['hotel_295', 'hotel_224'] 614 done
77 ['hotel_77'] 626 done
78 ['hotel_280'] 638 done
79 ['hotel_177', 'hotel_214', 'hotel_219'] 660 done
81 ['hotel_150', 'hotel_208'] 674 done
82 ['hotel_241', 'hotel_112'] 690 done
83 ['hotel_334', 'hotel_330'] 702 done
84 ['hotel_198'] 707 done
85 ['hotel_90', 'hotel_70', 'hotel_387', 'hotel_129'] 773 done
88 ['hotel_238'] 781 done
90 ['hotel_153'] 794 done
91 ['hotel_296'] 806 done
92 ['hotel_2', 'hotel_137'] 837 done
93 ['hotel_218', 'hotel_170', 'hotel_204'] 860 done
94 ['hotel_195'] 876 done
95 ['hotel_45', 'hotel_192'] 902 done
96 ['hotel_196'] 914 done
97 ['hotel_173'] 932 done
98 ['hotel_344', 'hotel_389', 'hotel_256', 'hotel_40'] 979 done
101 ['hotel_16'] 991 done
102 ['hotel_398', 'hotel_30', 'hotel_211', 'hotel_165'] 1037 done
104 ['hotel_28'] 1044 done
107 ['hotel_113', 'hotel_291'] 1055 done
108 ['hotel_33', 'hotel_181'] 1077 done
109 ['hotel_251'] 1094 done
112 ['hotel_94'] 1110 done
113 ['hotel_19'] 1120 done
115 ['hotel_194'] 1136 done
116 ['hotel_163', 'hotel_86', 'hotel_59'] 1171 done
117 ['hotel_125'] 1178 done
120 ['hotel_203', 'hotel_58', 'hotel_366', 'hotel_175'] 1228 done
121 ['hotel_17'] 1246 done
122 ['hotel_309'] 1263 done
123 ['hotel_42', 'hotel_243'] 1279 done
125 ['hotel_197', 'hotel_292'] 1294 done
126 ['hotel_384', 'hotel_351'] 1314 done
127 ['hotel_246', 'hotel_269', 'hotel_317', 'hotel_145'] 1363 done
128 ['hotel_207'] 1371 done
129 ['hotel_116'] 1378 done
130 ['hotel_382'] 1384 done
132 ['hotel_158', 'hotel_172', 'hotel_108', 'hotel_105'] 1427 done
133 ['hotel_338', 'hotel_215', 'hotel_369'] 1452 done
134 ['hotel_57', 'hotel_76', 'hotel_349'] 1483 done
135 ['hotel_38', 'hotel_288', 'hotel_35'] 1522 done
136 ['hotel_345', 'hotel_235'] 1538 done
139 ['hotel_342'] 1548 done
140 ['hotel_323', 'hotel_110', 'hotel_304', 'hotel_51', 'hotel_294'] 1618 done
141 ['hotel_3'] 1630 done
143 ['hotel_244'] 1635 done
145 ['hotel_236', 'hotel_142', 'hotel_400', 'hotel_29'] 1700 done
146 ['hotel_318', 'hotel_130'] 1731 done
149 ['hotel_78'] 1743 done
153 ['hotel_264'] 1761 done
154 ['hotel_183', 'hotel_62', 'hotel_68'] 1794 done
156 ['hotel_52'] 1813 done
157 ['hotel_61', 'hotel_4'] 1838 done
158 ['hotel_101'] 1853 done
159 ['hotel_220', 'hotel_275'] 1875 done
160 ['hotel_303', 'hotel_100', 'hotel_287'] 1928 done
162 ['hotel_136', 'hotel_152'] 1940 done
163 ['hotel_359'] 1954 done
165 ['hotel_390', 'hotel_281'] 1977 done
166 ['hotel_274', 'hotel_226'] 1999 done
167 ['hotel_171', 'hotel_377', 'hotel_122', 'hotel_348'] 2035 done
168 ['hotel_371'] 2045 done
169 ['hotel_266'] 2063 done
170 ['hotel_333', 'hotel_299', 'hotel_335'] 2090 done
171 ['hotel_179', 'hotel_128'] 2106 done
172 ['hotel_271', 'hotel_34', 'hotel_32'] 2141 done
175 ['hotel_210', 'hotel_71', 'hotel_346'] 2180 done
176 ['hotel_364', 'hotel_357', 'hotel_374', 'hotel_182'] 2229 done
178 ['hotel_114', 'hotel_383'] 2255 done
179 ['hotel_193'] 2267 done
180 ['hotel_272'] 2282 done
181 ['hotel_186', 'hotel_118'] 2310 done
182 ['hotel_255'] 2318 done
183 ['hotel_20', 'hotel_313', 'hotel_151', 'hotel_205'] 2371 done
184 ['hotel_290'] 2378 done
185 ['hotel_386'] 2383 done
186 ['hotel_200'] 2400 done
187 ['hotel_206', 'hotel_99', 'hotel_316'] 2436 done
189 ['hotel_133'] 2447 done
192 ['hotel_132', 'hotel_126', 'hotel_91'] 2486 done
193 ['hotel_37', 'hotel_36', 'hotel_161'] 2505 done
194 ['hotel_378'] 2524 done
195 ['hotel_328', 'hotel_14'] 2548 done
196 ['hotel_228'] 2560 done
197 ['hotel_67', 'hotel_221', 'hotel_260', 'hotel_353'] 2606 done
198 ['hotel_13', 'hotel_31'] 2630 done
200 ['hotel_89', 'hotel_391'] 2650 done
201 ['hotel_98', 'hotel_227'] 2674 done
202 ['hotel_64', 'hotel_143', 'hotel_56'] 2714 done
203 ['hotel_306', 'hotel_372'] 2747 done
204 ['hotel_140'] 2755 done
205 ['hotel_362', 'hotel_212'] 2773 done
206 ['hotel_148'] 2784 done
207 ['hotel_286', 'hotel_363'] 2800 done
208 ['hotel_248', 'hotel_96', 'hotel_356', 'hotel_50', 'hotel_285', 'hotel_83'] 2874 done
209 ['hotel_258', 'hotel_232', 'hotel_159', 'hotel_300', 'hotel_123', 'hotel_261'] 2928 done
210 ['hotel_392'] 2946 done
211 ['hotel_395', 'hotel_234'] 2970 done
212 ['hotel_216', 'hotel_396', 'hotel_325', 'hotel_21', 'hotel_138'] 3022 done
213 ['hotel_25', 'hotel_75'] 3056 done
214 ['hotel_240', 'hotel_46', 'hotel_310'] 3093 done
215 ['hotel_187'] 3106 done
216 ['hotel_347'] 3114 done
217 ['hotel_343'] 3129 done
219 ['hotel_361', 'hotel_259', 'hotel_119'] 3155 done
220 ['hotel_358'] 3160 done
221 ['hotel_315'] 3175 done
222 ['hotel_10'] 3185 done
224 ['hotel_12', 'hotel_180'] 3216 done
225 ['hotel_66', 'hotel_84', 'hotel_257'] 3242 done
226 ['hotel_65', 'hotel_146', 'hotel_11'] 3277 done
227 ['hotel_9'] 3282 done
228 ['hotel_156', 'hotel_385', 'hotel_327'] 3314 done
229 ['hotel_322', 'hotel_370'] 3338 done
230 ['hotel_69'] 3352 done
231 ['hotel_222', 'hotel_284', 'hotel_254'] 3397 done
232 ['hotel_326'] 3412 done
233 ['hotel_209'] 3423 done
235 ['hotel_336'] 3434 done
236 ['hotel_166', 'hotel_331', 'hotel_8'] 3467 done
238 ['hotel_54', 'hotel_376'] 3493 done
239 ['hotel_329', 'hotel_80'] 3513 done
240 ['hotel_199'] 3522 done
241 ['hotel_282', 'hotel_55', 'hotel_103'] 3553 done
242 ['hotel_188', 'hotel_60'] 3571 done
243 ['hotel_154', 'hotel_340', 'hotel_44'] 3601 done
244 ['hotel_115'] 3620 done
245 ['hotel_276'] 3639 done
246 ['hotel_355', 'hotel_229'] 3663 done
249 ['hotel_368', 'hotel_237', 'hotel_393'] 3700 done
250 ['hotel_191'] 3716 done
251 ['hotel_293', 'hotel_147'] 3736 done
252 ['hotel_81', 'hotel_131'] 3757 done
253 ['hotel_311', 'hotel_111', 'hotel_72'] 3779 done
255 ['hotel_124'] 3786 done
256 ['hotel_213', 'hotel_141'] 3806 done
258 ['hotel_162', 'hotel_307', 'hotel_178'] 3824 done
259 ['hotel_73', 'hotel_82'] 3848 done
260 ['hotel_263'] 3854 done
261 ['hotel_297', 'hotel_267', 'hotel_373'] 3875 done
263 ['hotel_379', 'hotel_48', 'hotel_225'] 3890 done
265 ['hotel_265'] 3894 done
266 ['hotel_87'] 3898 done
268 ['hotel_201', 'hotel_375'] 3905 done
269 ['hotel_308'] 3908 done
271 ['hotel_367'] 3912 done
273 ['hotel_43', 'hotel_253', 'hotel_185', 'hotel_1', 'hotel_270'] 3933 done
274 ['hotel_39'] 3937 done
275 ['hotel_239'] 3940 done
276 ['hotel_352', 'hotel_381'] 3943 done
277 ['hotel_314'] 3946 done
278 ['hotel_332', 'hotel_319', 'hotel_233', 'hotel_74', 'hotel_149'] 3952 done
279 ['hotel_278', 'hotel_127'] 3953 done
281 ['hotel_277', 'hotel_107'] 3957 done
282 ['hotel_41', 'hotel_117'] 3961 done
283 ['hotel_169', 'hotel_298'] 3961 done
284 ['hotel_399'] 3962 done
285 ['hotel_93', 'hotel_231'] 3962 done
286 ['hotel_164', 'hotel_388', 'hotel_312'] 3965 done
287 ['hotel_18'] 3966 done
288 ['hotel_97', 'hotel_202'] 3970 done
289 ['hotel_324', 'hotel_139'] 3975 done
290 ['hotel_245', 'hotel_380', 'hotel_63'] 3976 done
291 ['hotel_223', 'hotel_394'] 3980 done
292 ['hotel_217'] 3982 done
293 ['hotel_302', 'hotel_85', 'hotel_95'] 3985 done
295 ['hotel_289'] 3986 done
297 ['hotel_106', 'hotel_176'] 3987 done
298 ['hotel_341', 'hotel_5', 'hotel_250', 'hotel_184', 'hotel_168'] 3988 done
299 ['hotel_230', 'hotel_27'] 3990 done

In [114]:
#check
check = checked_in_full.pivot_table(values= ['guest'], index='hotel', aggfunc={'guest':'count'})
check = check.reset_index()
check = pd.merge(check, hotels, on = 'hotel', how = 'left')
len(check[check['guest'] != check['rooms']]) #53 hotels are not full - too expensive

53

In [116]:
leftovers_expensive = preferences[~preferences['guest'].isin(checked_in_full['guest'])]['guest'].unique() #3990 - 10 guests without hotel - why?

In [117]:
len(leftovers_expensive)

10

In [ ]:
#Check 10 guests and check in them in expensive hotels

In [118]:
df_for_leftovers_expensive = pd.merge(hotels_new, check[check['guest'] != check['rooms']], left_on = 'hotel_number', right_on = 'hotel', how = 'inner')

In [119]:
df_for_leftovers_expensive = df_for_leftovers_expensive[df_for_leftovers_expensive['room_number'] <= df_for_leftovers_expensive['guest']]

In [120]:
df_for_leftovers_expensive = df_for_leftovers_expensive.sort_values('price_y')

In [121]:
df_for_leftovers_expensive = df_for_leftovers_expensive[:len(leftovers_expensive)]

In [122]:
df_for_leftovers_expensive['leftovers'] = leftovers_expensive

In [123]:
df_for_leftovers_expensive = df_for_leftovers_expensive[['leftovers', 'hotel']]

In [124]:
df_for_leftovers_expensive['priority'] = 0

In [125]:
df_for_leftovers_expensive = df_for_leftovers_expensive.rename(columns={'leftovers': 'guest'})

In [126]:
checked_in_full_final = pd.concat([checked_in_full, df_for_leftovers_expensive])

In [127]:
checked_in_full_final = pd.merge(checked_in_full_final, guests, on = 'guest', how = 'left')

In [128]:
checked_in_full_final = pd.merge(checked_in_full_final, hotels, on = 'hotel', how = 'left')

In [129]:
checked_in_full_final['price_final'] = checked_in_full_final['price'] * (1 - checked_in_full_final['discount'])

In [130]:
checked_in_group_part3 = checked_in_full_final.pivot_table(values='price_final', index='hotel', aggfunc='sum')

In [131]:
checked_in_group_part3

           price_final
hotel
hotel_1        1231.23
hotel_10       2026.86
hotel_100      2734.40
hotel_101      2136.16
hotel_102      1015.43
...                ...
hotel_95        237.33
hotel_96       2340.00
hotel_97        757.44
hotel_98       2526.57
hotel_99        994.84

[383 rows x 1 columns]

In [132]:
sum(checked_in_group_part3['price_final'])

581017.41

Part 4

In [ ]:
#sorted by availability starting with the most roomy hotel

In [133]:
priorities = []
for i in range(1, max(preferences['priority']) + 1):
    priorities.append(i)

In [134]:
hotels = hotels.sort_values('rooms', ascending=False)

In [142]:
hotels_draft = hotels.copy()
df_draft = pd.DataFrame()
dict_hotels = hotels_draft.groupby('rooms')['hotel'].apply(list).to_dict()
checked_in_full = pd.DataFrame(columns = ['guest'])
for key in sorted(dict_hotels, reverse=True):
    for hotel in dict_hotels[key]:
        df_draft_0 = preferences[(preferences['hotel'] == hotel) & ~preferences['guest'].isin(checked_in_full['guest'])] #исключаем тех, кого заселили
        df_draft = pd.concat([df_draft, df_draft_0], ignore_index=True)
    for priority in priorities:
        df_priority = df_draft[(df_draft['priority'] == priority) & ~df_draft['guest'].isin(checked_in_full['guest'])] #исключить тех, кого заселили
        for hotel in dict_hotels[key]:
            checked_in_guests = df_priority[df_priority['hotel'] == hotel]
            free_rooms = hotels_draft[hotels_draft['hotel'] == hotel]['rooms'].values[0]
            checked_in_guests = checked_in_guests[:free_rooms]
            checked_in_full = pd.concat([checked_in_full, checked_in_guests], ignore_index=True)
            hotels_draft.loc[hotels_draft['hotel'] == hotel, 'rooms'] -= len(checked_in_guests)
    print(key, dict_hotels[key], len(checked_in_full), 'done')       
    df_draft = pd.DataFrame()

19 ['hotel_129', 'hotel_276', 'hotel_115', 'hotel_11', 'hotel_52', 'hotel_394', 'hotel_29', 'hotel_53', 'hotel_26', 'hotel_49', 'hotel_100', 'hotel_303', 'hotel_366', 'hotel_114', 'hotel_378', 'hotel_346', 'hotel_317', 'hotel_122'] 342 done
18 ['hotel_56', 'hotel_392', 'hotel_144', 'hotel_277', 'hotel_278', 'hotel_2', 'hotel_344', 'hotel_173', 'hotel_12', 'hotel_39', 'hotel_305', 'hotel_189', 'hotel_32', 'hotel_356', 'hotel_372', 'hotel_142', 'hotel_126', 'hotel_17', 'hotel_374', 'hotel_313', 'hotel_59', 'hotel_264', 'hotel_4', 'hotel_328', 'hotel_323', 'hotel_266'] 810 done
17 ['hotel_251', 'hotel_143', 'hotel_380', 'hotel_282', 'hotel_331', 'hotel_222', 'hotel_90', 'hotel_191', 'hotel_237', 'hotel_46', 'hotel_284', 'hotel_245', 'hotel_22', 'hotel_388', 'hotel_308', 'hotel_75', 'hotel_25', 'hotel_105', 'hotel_165', 'hotel_316', 'hotel_200', 'hotel_223', 'hotel_110', 'hotel_183', 'hotel_205', 'hotel_309'] 1252 done
16 ['hotel_249', 'hotel_399', 'hotel_194', 'hotel_285', 'hotel_94', 'hotel_181', 'hotel_288', 'hotel_172', 'hotel_130', 'hotel_147', 'hotel_314', 'hotel_44', 'hotel_224', 'hotel_195', 'hotel_169', 'hotel_373', 'hotel_81', 'hotel_97', 'hotel_295', 'hotel_63'] 1572 done
15 ['hotel_127', 'hotel_117', 'hotel_381', 'hotel_273', 'hotel_312', 'hotel_21', 'hotel_343', 'hotel_387', 'hotel_192', 'hotel_315', 'hotel_385', 'hotel_326', 'hotel_370', 'hotel_70', 'hotel_80', 'hotel_149', 'hotel_332', 'hotel_102', 'hotel_262', 'hotel_82', 'hotel_263', 'hotel_182', 'hotel_58', 'hotel_272', 'hotel_384', 'hotel_186', 'hotel_389', 'hotel_306', 'hotel_13', 'hotel_101', 'hotel_287', 'hotel_318', 'hotel_304', 'hotel_121', 'hotel_321', 'hotel_23', 'hotel_47'] 2127 done
14 ['hotel_294', 'hotel_38', 'hotel_229', 'hotel_236', 'hotel_268', 'hotel_250', 'hotel_400', 'hotel_359', 'hotel_281', 'hotel_265', 'hotel_213', 'hotel_398', 'hotel_325', 'hotel_259', 'hotel_71', 'hotel_234', 'hotel_69', 'hotel_54', 'hotel_83', 'hotel_67', 'hotel_98', 'hotel_89', 'hotel_353', 'hotel_365', 'hotel_247'] 2477 done
13 ['hotel_180', 'hotel_60', 'hotel_242', 'hotel_174', 'hotel_1', 'hotel_76', 'hotel_168', 'hotel_319', 'hotel_360', 'hotel_261', 'hotel_137', 'hotel_206', 'hotel_217', 'hotel_252', 'hotel_118', 'hotel_120', 'hotel_362', 'hotel_187', 'hotel_153', 'hotel_299', 'hotel_246'] 2750 done
12 ['hotel_368', 'hotel_3', 'hotel_341', 'hotel_78', 'hotel_350', 'hotel_176', 'hotel_260', 'hotel_228', 'hotel_193', 'hotel_91', 'hotel_397', 'hotel_298', 'hotel_354', 'hotel_274', 'hotel_233', 'hotel_57', 'hotel_145', 'hotel_77', 'hotel_280', 'hotel_376', 'hotel_296', 'hotel_138', 'hotel_196', 'hotel_86', 'hotel_96', 'hotel_16'] 3062 done
11 ['hotel_48', 'hotel_367', 'hotel_41', 'hotel_73', 'hotel_220', 'hotel_275', 'hotel_345', 'hotel_88', 'hotel_7', 'hotel_336', 'hotel_310', 'hotel_128', 'hotel_364', 'hotel_34', 'hotel_84', 'hotel_146', 'hotel_254', 'hotel_45', 'hotel_209', 'hotel_232', 'hotel_148', 'hotel_93', 'hotel_109', 'hotel_160', 'hotel_133', 'hotel_106'] 3348 done
10 ['hotel_190', 'hotel_227', 'hotel_20', 'hotel_211', 'hotel_175', 'hotel_202', 'hotel_74', 'hotel_10', 'hotel_338', 'hotel_371', 'hotel_226', 'hotel_218', 'hotel_395', 'hotel_159', 'hotel_19', 'hotel_355', 'hotel_68', 'hotel_297', 'hotel_124', 'hotel_6', 'hotel_270', 'hotel_27', 'hotel_337', 'hotel_134', 'hotel_339', 'hotel_239', 'hotel_342'] 3618 done
9 ['hotel_35', 'hotel_111', 'hotel_215', 'hotel_214', 'hotel_327', 'hotel_8', 'hotel_300', 'hotel_240', 'hotel_199', 'hotel_257', 'hotel_322', 'hotel_24', 'hotel_132', 'hotel_31', 'hotel_256', 'hotel_167', 'hotel_320', 'hotel_231', 'hotel_197', 'hotel_230', 'hotel_390', 'hotel_185', 'hotel_104', 'hotel_283'] 3827 done
8 ['hotel_135', 'hotel_139', 'hotel_393', 'hotel_352', 'hotel_241', 'hotel_112', 'hotel_184', 'hotel_103', 'hotel_178', 'hotel_162', 'hotel_379', 'hotel_154', 'hotel_347', 'hotel_333', 'hotel_151', 'hotel_207', 'hotel_156', 'hotel_177', 'hotel_238', 'hotel_375', 'hotel_161', 'hotel_18', 'hotel_286', 'hotel_140', 'hotel_363', 'hotel_42', 'hotel_243', 'hotel_255'] 3940 done
7 ['hotel_150', 'hotel_311', 'hotel_334', 'hotel_5', 'hotel_43', 'hotel_152', 'hotel_253', 'hotel_201', 'hotel_92', 'hotel_279', 'hotel_61', 'hotel_293', 'hotel_116', 'hotel_50', 'hotel_290', 'hotel_170', 'hotel_208', 'hotel_166', 'hotel_361', 'hotel_125', 'hotel_248', 'hotel_383', 'hotel_28', 'hotel_155'] 3964 done
6 ['hotel_301', 'hotel_157', 'hotel_36', 'hotel_14', 'hotel_113', 'hotel_221', 'hotel_292', 'hotel_203', 'hotel_107', 'hotel_51', 'hotel_349', 'hotel_335', 'hotel_33', 'hotel_99', 'hotel_123', 'hotel_369', 'hotel_210', 'hotel_348', 'hotel_382', 'hotel_66', 'hotel_391', 'hotel_141', 'hotel_55', 'hotel_62', 'hotel_225', 'hotel_72', 'hotel_271', 'hotel_340', 'hotel_204', 'hotel_377', 'hotel_216'] 3984 done
5 ['hotel_212', 'hotel_289', 'hotel_95', 'hotel_302', 'hotel_15', 'hotel_37', 'hotel_324', 'hotel_85', 'hotel_164', 'hotel_30', 'hotel_40', 'hotel_64', 'hotel_158', 'hotel_108', 'hotel_171', 'hotel_9', 'hotel_329', 'hotel_65', 'hotel_258', 'hotel_386', 'hotel_119', 'hotel_358', 'hotel_179', 'hotel_357', 'hotel_163', 'hotel_396', 'hotel_291', 'hotel_269', 'hotel_351', 'hotel_219', 'hotel_198', 'hotel_188', 'hotel_131', 'hotel_136', 'hotel_244', 'hotel_267', 'hotel_307', 'hotel_330', 'hotel_87', 'hotel_79', 'hotel_235'] 4000 done

In [143]:
#check
check = checked_in_full.pivot_table(values= ['guest'], index='hotel', aggfunc={'guest':'count'})
check = check.reset_index()
check = pd.merge(check, hotels, on = 'hotel', how = 'left')
len(check[check['guest'] != check['rooms']]) #53 hotels are not full - too expensive

73

In [158]:
hotels_new[hotels_new['hotel_number'] == 'hotel_129']

      room_number hotel_number  price  random_number
1510            1    hotel_129     85           3452
1511            2    hotel_129     85            272
1512            3    hotel_129     85           3618
1513            4    hotel_129     85           1754
1514            5    hotel_129     85           3936
1515            6    hotel_129     85           3917
1516            7    hotel_129     85           1449
1517            8    hotel_129     85           2969
1518            9    hotel_129     85           3726
1519           10    hotel_129     85           2182
1520           11    hotel_129     85            258
1521           12    hotel_129     85           2505
1522           13    hotel_129     85           1670
1523           14    hotel_129     85           2339
1524           15    hotel_129     85           4514
1525           16    hotel_129     85           2239
1526           17    hotel_129     85           1930
1527           18    hotel_129     85           2424
1528           19    hotel_129     85           4154

In [146]:
check[check['guest'] != check['rooms']]

         hotel  guest  rooms  price  rest  guests
5    hotel_103      1      8    241     8       0
9    hotel_108      2      5    132     5       0
14   hotel_112      4      8     82     8       0
15   hotel_113      1      6    107     6       0
18   hotel_116      1      7    129     7       0
..         ...    ...    ...    ...   ...     ...
321   hotel_72      1      6    253     6       0
328   hotel_79      1      5     75     5       0
340   hotel_92      3      7     59     7       0
343   hotel_95      1      5    293     5       0
347   hotel_99      1      6    187     6       0

[73 rows x 6 columns]

In [147]:
check2 = checked_in_full.pivot_table( index='guest',  aggfunc={'guest':'count'})

In [148]:
check2[check2['guest'] == 1] #3990 so cool!

            guest
guest
guest_1         1
guest_10        1
guest_100       1
guest_1000      1
guest_1001      1
...           ...
guest_995       1
guest_996       1
guest_997       1
guest_998       1
guest_999       1

[4000 rows x 1 columns]

In [149]:
len(checked_in_full[checked_in_full['priority'] == 1]) #18

1928

In [150]:
think_tank = ['hotel_190', 'hotel_49']
df_for_hotel = pd.DataFrame()
df_merged = pd.DataFrame()
not_checked_in_guests = preferences
for hotel in think_tank:
    df_for_hotel = not_checked_in_guests[not_checked_in_guests['hotel'] == hotel]
    df_for_hotel = df_for_hotel.sort_values(by = ['priority']).sort_index(ascending=True)
    df_for_hotel.to_excel(f'output_{hotel}.xlsx', index=False)

In [151]:
pivot_hotels = hotels.pivot_table(values='hotel', index='price', aggfunc='count')

Все, что дальше - не нужно